
# Day 3 â€” Strings (Part 1)
Strings in Python:
- Sequence of characters enclosed in single ('') or double ("") quotes.
- Immutable: Once created, cannot be changed.
- Can contain letters, numbers, symbols, and spaces.

Indexing:
- Access individual characters using index.
- Positive index: starts from 0 (first character)
- Negative index: starts from -1 (last character)

Slicing:
- Extract part of string using [start:end:step]
- start: starting index (inclusive)
- end: ending index (exclusive)
- step: interval (default 1)
- Examples:
    s[0:5] -> first 5 chars
    s[::2] -> every 2nd char
    s[::-1] -> reverse string

Basic Operations:
- len(s) -> length
- + -> concatenation
- * -> repetition
- in / not in -> membership
- str() -> convert to string

String Methods:
- upper(), lower(), title(), capitalize(), swapcase()
- strip(), lstrip(), rstrip()
- replace(old, new)
- find(sub), index(sub)
- count(sub)
- isalpha(), isdigit(), isspace(), isalnum()
- split(sep), join(iterable)
- startswith(), endswith()
- format(), f-strings

Escape Characters:
- \n -> newline
- \t -> tab
- \\ -> backslash
- \' or \" -> single/double quote

# EXAMPLES

In [1]:
# Creating strings
s1 = "Hello"
s2 = 'World'
s3 = "Python Programming"
print(s1, s2, s3)

Hello World Python Programming

In [2]:
# Indexing
print(s1[0], s1[-1])

H o

In [3]:
# Slicing
print(s3[0:6])
print(s3[7:])
print(s3[:6])
print(s3[::2])
print(s3[::-1])

Python
Programming
Python
Pto rgamn
gnimmargorP nohtyP

In [5]:
# Concatenation & repetition
print(s1 + " " + s2)
print(s1 * 3)

Hello World
HelloHelloHello

In [4]:
# Membership
print('H' in s1)
print('x' not in s2)

True
True

In [6]:
# String methods
print(s3.upper())
print(s3.lower())
print(s3.title())
print(s3.capitalize())
print(s3.swapcase())
print(s3.replace('Python', 'Java'))
print(s3.count('o'))    # 2
print(s3.find('Programming'))  # 7
print(s3.split())
print('-'.join(['Python','Rocks']))
print(s3.startswith('Python'))
print(s3.endswith('ing'))

PYTHON PROGRAMMING
python programming
Python Programming
Python programming
pYTHON pROGRAMMING
Java Programming
2
7
['Python', 'Programming']
Python-Rocks
True
True

In [7]:
# Escape characters
print("Hello\nWorld")
print("Hello\tWorld")
print("He said \"Hi\"")

Hello
World
Hello	World
He said "Hi"

# PRACTICE QUESTIONS

In [8]:
# Q1: Print first and last character of string
str1 = "Data"
print(str1[0], str1[-1])

D a

In [9]:
# Q2: Slice first 3 characters
print(str1[:3])

Dat

In [10]:
# Q3: Reverse string
print(str1[::-1])

ataD

In [11]:
# Q4: Concatenate two strings
s1 = "Machine"
s2 = "Learning"
print(s1 + " " + s2)

Machine Learning

In [12]:
# Q5: Repeat string 4 times
print(s1 * 4)

MachineMachineMachineMachine

In [13]:
# Q6: Check if substring exists
print("Learn" in s2)

True

In [14]:
# Q7: Convert string to uppercase
print(s2.upper())

LEARNING

In [15]:

# Q8: Count occurrences of a character
s = "banana"
print(s.count('a'))

3

In [16]:
# Q9: Replace substring
print(s.replace('na','NA'))

baNANA

In [17]:
# Q10: Split string into list
s = "Python is fun"
print(s.split())  # ['Python', 'is', 'fun']

['Python', 'is', 'fun']

# CHALLENGE QUESTIONS

In [18]:
# Challenge 1: Remove leading/trailing spaces
s = "   Hello World   "
print(s.strip())

Hello World

In [19]:
# Challenge 2: Check if string is alphabetic/digit/alphanumeric
s1 = "Python"
s2 = "12345"
s3 = "Python123"
print(s1.isalpha(), s2.isdigit(), s3.isalnum())

True True True

In [20]:
# Challenge 3: Format string using f-string
name = "Tanuja"
age = 25
print(f"My name is {name} and I am {age} years old")

My name is Tanuja and I am 25 years old

In [21]:
# Challenge 4: Format string using format()
print("My name is {} and I am {} years old".format(name, age))

My name is Tanuja and I am 25 years old

In [22]:
# Challenge 5: Find index of substring
s = "Data Science"
print(s.find("Science"))  # 5

5

In [23]:
# Challenge 6: Join list into string
lst = ['Python', 'is', 'fun']
print(' '.join(lst))

Python is fun

In [24]:
# Challenge 7: Check startswith and endswith
s = "Hello World"
print(s.startswith("Hello"), s.endswith("World"))

True True

In [25]:
# Challenge 8: Swap case
s = "Python Programming"
print(s.swapcase())

pYTHON pROGRAMMING

In [26]:
# Challenge 9: Extract every second character
s = "ABCDEFGHI"
print(s[::2])

ACEGI

In [27]:
# Challenge 10: Escape characters usage
print("Line1\nLine2\tTabbed")

Line1
Line2	Tabbed

# INTERVIEW QUESTIONS

### Q1: What is a string in Python?
### A: Sequence of characters enclosed in quotes.

### Q2: Are strings mutable or immutable?
### A: Immutable

### Q3: How to access first and last character of string?
### A: str[0] and str[-1]

### Q4: How to slice string?
### A: str[start:end:step]

### Q5: How to reverse a string?
### A: str[::-1]

### Q6: Name 5 useful string methods.
### A: upper(), lower(), title(), replace(), split()

### Q7: How to check if substring exists?
### A: Using 'in' operator

### Q8: How to join a list of strings into a single string?
### A: Using join() method

### Q9: How to remove leading and trailing spaces?
### A: Using strip()

### Q10: How to format strings in Python?
### A: Using format() method or f-strings