# Day 9 â€” Tuples

Tuples in Python:
- Ordered, immutable collection of elements
- Can contain duplicate elements
- Can hold multiple data types

Creating Tuples:
- t = (1,2,3)
- t = ("a","b","c")
- t = ()  # empty tuple
- t = (5,) # single element tuple

Accessing Elements:
- Indexing: t[0], t[-1]
- Slicing: t[1:3], t[::-1]

Tuple Operations:
- Concatenation: t1 + t2
- Repetition: t * n
- Membership: in, not in
- Length: len(t)
- Min, max, sum (if numeric)
- count(), index() methods

Packing & Unpacking:
- Packing: t = 1,2,3
- Unpacking: a,b,c = t

Nested Tuples:
- Tuple inside tuple
- Access using multiple indices

Immutability:
- Elements cannot be changed after creation
- Only operations that create new tuple are allowed

## EXAMPLES

In [1]:
# Creating tuples
t1 = (1,2,3)
t2 = ("a","b","c")
t3 = (5,)
t4 = ()  # empty tuple
print(t1, t2, t3, t4)

(1, 2, 3) ('a', 'b', 'c') (5,) ()

In [2]:
# Indexing
print(t1[0])
print(t2[-1])

1
c

In [3]:
# Slicing
print(t1[1:3])
print(t2[::-1])

(2, 3)
('c', 'b', 'a')

In [4]:
# Concatenation
t5 = t1 + t2
print(t5)

(1, 2, 3, 'a', 'b', 'c')

In [5]:
# Repetition
print(t2 * 2)

('a', 'b', 'c', 'a', 'b', 'c')

In [6]:
# Membership
print("a" in t2)
print(5 not in t1)

True
True

In [7]:
# Length, min, max, sum
t = (10,20,5)
print(len(t), min(t), max(t), sum(t))

3 5 20 35

In [8]:
# count() and index()
t = (1,2,2,3)
print(t.count(2))
print(t.index(3))

2
3

In [9]:
# Packing & Unpacking
t = 10,20,30
a,b,c = t
print(a,b,c)

10 20 30

In [10]:
# Nested tuples
nested = ((1,2),(3,4),(5,6))
print(nested[1][1])

4

## PRACTICE QUESTIONS

In [11]:
# Q1: Create a tuple of 5 elements
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [12]:
# Q2: Access first and last element
print(t[0], t[-1])

1 5

In [13]:
# Q3: Slice tuple to get middle 3 elements
print(t[1:4])

(2, 3, 4)

In [14]:
# Q4: Concatenate (1,2,3) and (4,5)
print((1,2,3) + (4,5))

(1, 2, 3, 4, 5)

In [15]:
# Q5: Repeat tuple (1,2) three times
print((1,2)*3)

(1, 2, 1, 2, 1, 2)

In [16]:
# Q6: Check if 2 is in tuple (1,2,3)
print(2 in (1,2,3))

True

In [17]:
# Q7: Get length of tuple (10,20,30,40)
print(len((10,20,30,40)))

4

In [18]:
# Q8: Count occurrence of 2 in (1,2,2,3)
print((1,2,2,3).count(2))

2

In [19]:
# Q9: Index of 3 in (1,2,3)
print((1,2,3).index(3))

2

In [20]:
# Q10: Unpack tuple (5,10,15)
a,b,c = (5,10,15)
print(a,b,c)

5 10 15

## CHALLENGE QUESTIONS

In [21]:
# Challenge 1: Nested tuple access ((1,2),(3,4),(5,6)) get 6
nested = ((1,2),(3,4),(5,6))
print(nested[2][1])

6

In [22]:
# Challenge 2: Sum elements of tuple (10,20,30)
t = (10,20,30)
print(sum(t))

60

In [23]:
# Challenge 3: Max and min of tuple (5,1,8,3)
t = (5,1,8,3)
print(max(t), min(t))

8 1

In [24]:
# Challenge 4: Convert tuple to list
t = (1,2,3)
lst = list(t)
print(lst)

[1, 2, 3]

In [25]:
# Challenge 5: Convert list to tuple
lst = [4,5,6]
t = tuple(lst)
print(t)

(4, 5, 6)

In [26]:
# Challenge 6: Reverse tuple (1,2,3,4)
t = (1,2,3,4)
print(t[::-1])

(4, 3, 2, 1)

In [27]:
# Challenge 7: Tuple with single element 10
t = (10,)
print(t, type(t))

(10,) <class 'tuple'>

In [28]:
# Challenge 8: Concatenate multiple tuples (1,2),(3,4),(5,)
print((1,2)+(3,4)+(5,))

(1, 2, 3, 4, 5)

In [29]:
# Challenge 9: Nested tuple flattening
nested = ((1,2),(3,4))
flat = [num for tup in nested for num in tup]
print(flat)

[1, 2, 3, 4]

In [30]:
# Challenge 10: Check if element exists
t = (1,2,3)
print(4 in t)

False


## INTERVIEW QUESTIONS

#### Q1: What is a tuple?
#### A: Ordered, immutable collection of elements

#### Q2: Difference between list and tuple?
#### A: List mutable, tuple immutable

#### Q3: How to access elements in tuple?
#### A: Using indexing and slicing

#### Q4: How to concatenate and repeat tuples?
#### A: + for concatenation, * for repetition

#### Q5: How to count elements in tuple?
#### A: count() method

#### Q6: How to find index of element?
#### A: index() method

#### Q7: How to create single element tuple?
#### A: t = (element,)

#### Q8: How to unpack tuple into variables?
#### A: a,b,c = t

#### Q9: How to access nested tuple elements?
#### A: tuple[i][j]

#### Q10: How to convert tuple to list and vice versa?
#### A: list(t) and tuple(list)