# Day 2 â€” Variables & Data Types
Variables:
- Store data in memory
- Rules: start with letter/underscore, no spaces, case-sensitive, meaningful names

Data Types:
- int: 10
- float: 10.5
- str: "Hello"
- bool: True/False
- complex: 2+3j

Mutable vs Immutable:
- Mutable: list, dict, set
- Immutable: int, float, str, tuple

Type Casting:
- int(), float(), str(), bool()

Multiple Assignment:
- a, b, c = 1, 2, 3
- x = y = z = 5

Constants:
- No true constants; use uppercase by convention, e.g., PI = 3.14

# EXAMPLES

In [1]:
# Creating variables
a = 10
b = 20
name = "Tanuja"
print(a, b, name)

10 20 Tanuja

In [3]:
# Checking data types
x = 10
y = 5.5
z = "Hello"
flag = True
print(type(x), type(y), type(z), type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [2]:
# Type casting
x_str = "100"
x_int = int(x_str)
y_float = float("3.14")
z_str = str(250)
print(x_int, y_float, z_str)

100 3.14 250

In [4]:
# Multiple assignment
a, b, c = 1, 2, 3
print(a, b, c)

x = y = z = 5
print(x, y, z)

1 2 3
5 5 5

In [5]:
# Mutable vs Immutable examples
my_list = [1,2,3]
my_tuple = (4,5,6)
my_list[0] = 10
print(my_list)
print(my_tuple)

[10, 2, 3]
(4, 5, 6)

# PRACTICE QUESTIONS

In [6]:
# Q1: Create variables for marks of 3 subjects and print total
m1 = 85
m2 = 90
m3 = 78
total = m1 + m2 + m3
print(total)

253

In [7]:
# Q2: Convert int to float and float to int
x = 50
y = 3.75
print(float(x))
print(int(y))

50.0
3

In [8]:
# Q3: Swap two variables
a = 15
b = 25
a, b = b, a
print(a, b)

25 15

In [9]:
# Q4: Assign same value to multiple variables
x = y = z = 100
print(x, y, z)

100 100 100

In [10]:
# Q5: Check type of each variable
print(type(m1), type(y), type("Python"), type(True))

<class 'int'> <class 'int'> <class 'str'> <class 'bool'>

In [11]:
# Q6: Create a complex number and print it
c = 3 + 4j
print(c)

(3+4j)

In [12]:
# Q7: Find the real and imaginary parts of a complex number
print(c.real, c.imag)

3.0 4.0

In [13]:
# Q8: Use isinstance() to check variable type
print(isinstance(a, int))
print(isinstance(c, complex))

True
True

In [14]:
# Q9: Perform arithmetic with variables
a = 10
b = 20
print(a + b, a - b, a * b, a / b)

30 -10 200 0.5

In [15]:
# Q10: Update a mutable object and show change
my_list.append(40)
print(my_list)

[10, 2, 3, 40]

# CHALLENGE QUESTIONS

In [16]:
# Challenge 1: Calculate area of rectangle
length = 10
width = 5
area = length * width
print(area)

50

In [17]:
# Challenge 2: Calculate circumference of circle using constant PI
PI = 3.14
radius = 7
circumference = 2 * PI * radius
print(circumference)

43.96

In [18]:
# Challenge 3: Sum multiple variables using multiple assignment
a, b, c = 5, 10, 15
print(a + b + c)

30

In [19]:
# Challenge 4: Convert string to int and float
num_str = "45"
print(int(num_str))
print(float(num_str))

45
45.0

In [20]:
# Challenge 5: Check if variable is mutable
my_set = {1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [21]:
# Challenge 6: Swap variables without temp
x, y = 100, 200
x, y = y, x
print(x, y)

200 100

In [22]:
# Challenge 7: Concatenate strings
s1 = "Python"
s2 = "Rocks"
print(s1 + " " + s2)

Python Rocks

In [23]:
# Challenge 8: Floor division and modulus
print(20 // 3, 20 % 3)

6 2

In [24]:
# Challenge 9: Logical operations
print(True and False, True or False, not True)

False True False

In [25]:
# Challenge 10: Create a tuple and try to change value (demonstrate immutability)
t = (1,2,3)
print(t)
# t[0] = 10  # Uncommenting will raise error

(1, 2, 3)

# INTERVIEW QUESTIONS

### Q1: What is a variable?
### A: Container to store data

### Q2: Difference between mutable and immutable types?
### A: Mutable can be changed (list, dict, set), Immutable cannot (int, float, str, tuple)

### Q3: What is type casting?
### A: Converting one data type to another using int(), float(), str(), bool()

### Q4: How to assign multiple variables in one line?
### A: a, b, c = 1, 2, 3

### Q5: How to assign same value to multiple variables?
### A: x = y = z = value

### Q6: How to check data type of a variable?
### A: Using type() or isinstance()

### Q7: Give example of constant usage in Python
### A: PI = 3.14

### Q8: What happens if you try to change a tuple element?
### A: Error, because tuples are immutable

### Q9: What are rules for variable naming?
### A: Start with letter/underscore, no spaces, case-sensitive, meaningful names

### Q10: Difference between mutable and immutable objects in memory
###A: Mutable objects can be changed in-place, immutable objects create new object on change