# Day 8 â€” Lists (Part 2: Advanced)

Advanced List Concepts:

1. List Comprehensions:
- Compact way to create lists
Syntax:
[expression for item in iterable if condition]
Example:
squares = [x**2 for x in range(1,6)]  # [1,4,9,16,25]

2. Nested Lists:
- Lists inside lists, used for matrices or complex data
Access elements: list[i][j]

3. Deep Copy vs Shallow Copy:
- Shallow copy: new list object, but references same nested objects
- Deep copy: completely independent copy
- Use copy() for shallow, copy.deepcopy() for deep copy

4. Advanced Operations:
- List comprehension with conditions
- Flattening nested lists
- Using enumerate() to get index and value
- Using zip() to combine lists

## EXAMPLES

In [2]:
# List comprehension
squares = [x**2 for x in range(1,6)]
print(squares)  # [1,4,9,16,25]
even_squares = [x**2 for x in range(1,11) if x % 2 == 0]
print(even_squares)  # [4,16,36,64,100]

[1, 4, 9, 16, 25]
[4, 16, 36, 64, 100]

In [3]:
# Nested lists
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0][1])

2

In [4]:
# Flatten nested list using comprehension
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# Shallow vs deep copy
import copy
lst1 = [[1,2],[3,4]]
shallow = lst1.copy()
deep = copy.deepcopy(lst1)
lst1[0][0] = 10
print("Original:", lst1)
print("Shallow:", shallow)
print("Deep:", deep)

Original: [[10, 2], [3, 4]]
Shallow: [[10, 2], [3, 4]]
Deep: [[1, 2], [3, 4]]

In [7]:
# Using enumerate
lst = ['a','b','c']
for idx, val in enumerate(lst):
    print(idx, val)

0 a
1 b
2 c

In [8]:
# Using zip
names = ['Alice','Bob','Charlie']
marks = [95,88,78]
for n,m in zip(names,marks):
    print(n,m)

Alice 95
Bob 88
Charlie 78

## PRACTICE QUESTIONS

In [9]:
# Q1: Create list of cubes using list comprehension
cubes = [x**3 for x in range(1,6)]
print(cubes)

[1, 8, 27, 64, 125]

In [10]:
# Q2: List of even numbers from 1 to 20
evens = [x for x in range(1,21) if x%2==0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
# Q3: Flatten nested list [[1,2],[3,4],[5,6]]
nested = [[1,2],[3,4],[5,6]]
flat = [num for row in nested for num in row]
print(flat)

[1, 2, 3, 4, 5, 6]

In [12]:
# Q4: Use enumerate to print index and value of ['x','y','z']
lst = ['x','y','z']
for i,v in enumerate(lst):
    print(i,v)

0 x
1 y
2 z

In [13]:
# Q5: Use zip to combine ['a','b'] and [1,2]
for a,b in zip(['a','b'],[1,2]):
    print(a,b)

a 1
b 2

In [14]:
# Q6: Create list of squares of odd numbers 1 to 10
odd_squares = [x**2 for x in range(1,11) if x%2!=0]
print(odd_squares)

[1, 9, 25, 49, 81]

In [15]:
# Q7: Nested list access - get 6 from [[1,2,3],[4,5,6],[7,8,9]]
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1][2])

6

In [16]:
# Q8: Shallow copy demonstration
lst = [[1,2],[3,4]]
shallow = lst.copy()
lst[0][0] = 10
print(shallow)

[[10, 2], [3, 4]]

In [17]:
# Q9: Deep copy demonstration
import copy
lst = [[1,2],[3,4]]
deep = copy.deepcopy(lst)
lst[0][0] = 10
print(deep)

[[1, 2], [3, 4]]

In [18]:
# Q10: List comprehension with condition (numbers divisible by 3)
div3 = [x for x in range(1,21) if x%3==0]
print(div3)

[3, 6, 9, 12, 15, 18]

In [39]:
# Q11: Concatenate two lists [1,2,3] and [4,5,6]
print([1,2,3] + [4,5,6])

[1, 2, 3, 4, 5, 6]

In [40]:
# Q12: Repeat list [1,2] three times
print([1,2]*3)

[1, 2, 1, 2, 1, 2]

In [41]:
# Q13: Element-wise addition of [1,2,3] and [4,5,6]
print([a+b for a,b in zip([1,2,3],[4,5,6])])

[5, 7, 9]

In [42]:
# Q14: Find sum, max, min of [10,20,30]
lst = [10,20,30]
print(sum(lst), max(lst), min(lst))

60 30 10

In [43]:
# Q15: Flatten nested list [[1,2],[3,4]]
nested = [[1,2],[3,4]]
flat = [num for row in nested for num in row]
print(flat)

[1, 2, 3, 4]

In [44]:
# Q16: Create list of squares of numbers 1-5
print([x**2 for x in range(1,6)])

[1, 4, 9, 16, 25]

In [45]:
# Q17: Get elements at even indices
lst = ['a','b','c','d','e']
print([v for i,v in enumerate(lst) if i%2==0])

['a', 'c', 'e']

In [46]:
# Q18: Check if 10 exists in [5,10,15]
print(10 in [5,10,15])

True

In [47]:
# Q19: Use zip to multiply elements of [1,2,3] and [4,5,6]
print([a*b for a,b in zip([1,2,3],[4,5,6])])

[4, 10, 18]

In [48]:
# Q20: Reverse a list [1,2,3,4]
lst = [1,2,3,4]
lst.reverse()
print(lst)

[4, 3, 2, 1]

## CHALLENGE QUESTIONS

In [19]:
# Challenge 1: Flatten a 3x3 matrix
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
# Challenge 2: List of first letters of words in ['Python','Java','C++']
words = ['Python','Java','C++']
first_letters = [w[0] for w in words]
print(first_letters)

['P', 'J', 'C']

In [21]:
# Challenge 3: Extract even numbers from nested list [[1,2],[3,4],[5,6]]
nested = [[1,2],[3,4],[5,6]]
evens = [num for row in nested for num in row if num%2==0]
print(evens)

[2, 4, 6]

In [22]:
# Challenge 4: Multiply each element by 10 using comprehension
lst = [1,2,3]
print([x*10 for x in lst])

[10, 20, 30]

In [23]:
# Challenge 5: Get elements at even indices using enumerate
lst = ['a','b','c','d','e']
print([v for i,v in enumerate(lst) if i%2==0])

['a', 'c', 'e']

In [24]:
# Challenge 6: Zip two lists and sum elements
a = [1,2,3]
b = [4,5,6]
print([x+y for x,y in zip(a,b)])

[5, 7, 9]

In [25]:
# Challenge 7: Reverse each string in list
words = ['abc','def']
print([w[::-1] for w in words])

['cba', 'fed']

In [26]:
# Challenge 8: Deep copy vs shallow copy check
import copy
lst = [[1,2],[3,4]]
shallow = lst.copy()
deep = copy.deepcopy(lst)
lst[0][0] = 100
print(shallow)
print(deep)

[[100, 2], [3, 4]]
[[1, 2], [3, 4]]

In [27]:
# Challenge 9: List comprehension with if-else
lst = [1,2,3,4,5]
res = [x*2 if x%2==0 else x*3 for x in lst]
print(res)

[3, 4, 9, 8, 15]

In [28]:
# Challenge 10: Flatten irregular nested list [[1,2],[3,4,5],[6]]
nested = [[1,2],[3,4,5],[6]]
flat = [num for row in nested for num in row]
print(flat)

[1, 2, 3, 4, 5, 6]

In [29]:
# Challenge 11: Element-wise subtraction [10,20,30] - [1,2,3]
lst1 = [10,20,30]
lst2 = [1,2,3]
print([a-b for a,b in zip(lst1,lst2)])

[9, 18, 27]

In [30]:
# Challenge 12: Multiply each element by 5
lst = [1,2,3]
print([x*5 for x in lst])

[5, 10, 15]

In [31]:
# Challenge 13: Sum corresponding elements of 3 lists
a=[1,2,3];b=[4,5,6];c=[7,8,9]
print([x+y+z for x,y,z in zip(a,b,c)])

[12, 15, 18]

In [32]:
# Challenge 14: List of odd numbers from 1-20
print([x for x in range(1,21) if x%2!=0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [33]:
# Challenge 15: Sort list descending
lst = [3,1,4,2]
lst.sort(reverse=True)
print(lst)

[4, 3, 2, 1]

In [34]:
# Challenge 16: Reverse nested list [[1,2],[3,4]]
nested = [[1,2],[3,4]]
print([row[::-1] for row in nested])

[[2, 1], [4, 3]]

In [35]:
# Challenge 17: Check if all elements >0
lst = [1,2,3,4]
print(all(x>0 for x in lst))

True

In [36]:
# Challenge 18: Concatenate two lists element-wise as strings
a=['a','b','c'];b=['x','y','z']
print([x+y for x,y in zip(a,b)])

['ax', 'by', 'cz']

In [37]:
# Challenge 19: Create 2D identity matrix using comprehension
identity = [[1 if i==j else 0 for j in range(3)] for i in range(3)]
print(identity)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [38]:
# Challenge 20: Sum of all even numbers in nested list [[1,2],[3,4],[5,6]]
nested = [[1,2],[3,4],[5,6]]
print(sum(num for row in nested for num in row if num%2==0))

12

## INTERVIEW QUESTIONS

#### Q1: What is a list comprehension?
#### A: Compact way to create lists using [expression for item in iterable if condition]

#### Q2: Difference between shallow and deep copy?
#### A: Shallow copy shares references of nested objects; deep copy creates independent copy

#### Q3: How to flatten nested list?
#### A: Using list comprehension [num for row in nested for num in row]

#### Q4: How to get index and value while looping?
#### A: Using enumerate()

#### Q5: How to combine two lists element-wise?
#### A: Using zip()

#### Q6: Can list comprehension have conditionals?
#### A: Yes, [x for x in iterable if condition]

#### Q7: How to access element in nested list?
#### A: list[i][j]

#### Q8: How to multiply each element in list by 10?
#### A: [x*10 for x in lst]

#### Q9: How to reverse each string in list?
#### A: [s[::-1] for s in list_of_strings]

#### Q10: Difference between shallow copy using copy() and deep copy using copy.deepcopy()
#### A: Shallow copy references nested objects; deep copy creates independent nested objects