# Day 5 â€” Loops (for & while)

Loops in Python:
- Used to execute a block of code multiple times

Types:
1. for loop:
   - Iterates over a sequence (list, tuple, string, range)
   Syntax:
   for variable in sequence:

       code block

2. while loop:
   - Executes as long as condition is True
   Syntax:
   while condition:
   
       code block

Loop Control Statements:
- break: exits the loop immediately
- continue: skips current iteration
- pass: does nothing (placeholder)

Nested Loops:
- Loop inside another loop

range() function:
- Generates sequence of numbers
- range(stop)
- range(start, stop)
- range(start, stop, step)

Common Uses:
- Iterating sequences
- Repeating tasks
- Generating patterns

## EXAMPLES

In [ ]:
# For loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
# Using range
for i in range(5):
    print(i)  # 0 to 4

for i in range(1, 6):
    print(i)  # 1 to 5

for i in range(0, 10, 2):
    print(i)  # 0,2,4,6,8

0
1
2
3
4
1
2
3
4
5
0
2
4
6
8

In [ ]:
# While loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
# Break statement
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
# Continue statement
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
# Nested loops (pattern)
for i in range(1, 4):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3

## PRACTICE QUESTIONS

In [ ]:
# Q1: Print numbers 1 to 10 using for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Q2: Print even numbers between 1 and 20
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Q3: Print numbers 10 to 1 using for loop
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Q4: Print numbers 1 to 5 using while loop
n = 1
while n <= 5:
    print(n)
    n += 1

1
2
3
4
5

In [ ]:
# Q5: Sum of first 10 natural numbers using loop
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [ ]:
# Q6: Print elements of a list
lst = [10, 20, 30, 40]
for item in lst:
    print(item)

10
20
30
40

In [ ]:
# Q7: Use break to exit loop when number > 5
for i in range(10):
    if i > 5:
        break
    print(i)

0
1
2
3
4
5

In [ ]:
# Q8: Use continue to skip printing 3
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
# Q9: Print multiplication table of 5
for i in range(1, 11):
    print(5, 'x', i, '=', 5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Q10: Nested loop - print pattern
for i in range(1, 5):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****

## CHALLENGE QUESTIONS

In [ ]:
# Challenge 1: Print numbers divisible by 3 from 1 to 30
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# Challenge 2: Print first 10 Fibonacci numbers
a, b = 0, 1
for _ in range(10):
    print(a, end=' ')
    a, b = b, a+b
print()

0 1 1 2 3 5 8 13 21 34

In [ ]:
# Challenge 3: Print square of numbers 1 to 10
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Challenge 4: Print reverse pattern
for i in range(5, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [ ]:
# Challenge 5: Count number of vowels in a string
s = "Python is fun"
count = 0
for ch in s.lower():
    if ch in 'aeiou':
        count += 1
print("Vowels:", count)

Vowels: 3

In [ ]:
# Challenge 6: Print prime numbers between 1 and 20
for num in range(2, 21):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=' ')
print()

2 3 5 7 11 13 17 19

In [ ]:
# Challenge 7: Sum of all even numbers in a list
lst = [1,2,3,4,5,6]
sum_even = 0
for i in lst:
    if i % 2 == 0:
        sum_even += i
print(sum_even)

12

In [ ]:
# Challenge 8: Print multiplication table in reverse
for i in range(10, 0, -1):
    print('7 x', i, '=', 7*i)

7 x 10 = 70
7 x 9 = 63
7 x 8 = 56
7 x 7 = 49
7 x 6 = 42
7 x 5 = 35
7 x 4 = 28
7 x 3 = 21
7 x 2 = 14
7 x 1 = 7

In [ ]:
# Challenge 9: Print triangle pattern with numbers
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end='')
    print()

1
12
123
1234
12345

In [ ]:
# Challenge 10: Using while loop, find factorial of 5
n = 5
fact = 1
while n > 0:
    fact *= n
    n -= 1
print(fact)

120


## INTERVIEW QUESTIONS

#### Q1: What is a loop?
#### A: A block of code that repeats multiple times

#### Q2: Difference between for and while loops?
#### A: for iterates over a sequence, while repeats as long as condition True

#### Q3: What is the purpose of break and continue?
#### A: break exits loop, continue skips current iteration

#### Q4: Can loops be nested?
#### A: Yes, one loop inside another

#### Q5: How to print numbers 1 to 10 using for loop?
#### A: for i in range(1,11): print(i)

#### Q6: How to print numbers 10 to 1?
#### A: for i in range(10,0,-1): print(i)

#### Q7: How to iterate over list elements?
#### A: for item in list: print(item)

####Q8: How to generate a sequence of numbers?
#### A: Using range(start, stop, step)

#### Q9: How to use while loop?
#### A: Initialize variable, check condition, increment/decrement

#### Q10: How to print patterns using nested loops?
#### A: Use inner loop for columns, outer loop for rows