# Day 1 — Python Basics

Python:
- High-level, interpreted, dynamically typed language
- Uses indentation instead of braces for code blocks

Variables:
- Store data in memory
- Rules: start with letter/underscore, no spaces, case-sensitive

Data Types:
- int: 10
- float: 10.5
- str: "Hello"
- bool: True/False

Operators:
- Arithmetic: +, -, *, /, %, **, //
- Comparison: ==, !=, >, <, >=, <=
- Logical: and, or, not

Comments:
- Single line: #
- Multi-line: '''...''' or """ """

Print & Type:
- print() to display output
- type() to check data type

# EXAMPLES

In [1]:
# Variable assignment
a = 10
b = 20.5
name = "Tanuja"
is_active = True
print(a, b, name, is_active)

10 20.5 Tanuja True

In [2]:
# Operators
print(a + b)       # Addition
print(a ** 2)      # Exponent
print(a > b)       # Comparison
print(a == 10 and b > 10)  # Logical

30.5
100
False
True

In [3]:
# Comments
# This is a comment
'''
This is
a multi-line
comment
'''

'\nThis is\na multi-line\ncomment\n'

# PRACTICE QUESTIONS

In [4]:
# Q1: Assign values to variables and print them
x = 5
y = "Python"
print(x, y)

5 Python

In [5]:
# Q2: Check type of variable
z = 10.5
print(type(z))

<class 'float'>

In [6]:
# Q3: Add two numbers
a, b = 10, 20
print(a + b)

30

In [7]:
# Q4: Subtract two numbers
a, b = 15, 5
print(a - b)

10

In [8]:
# Q5: Multiply two numbers
print(4 * 5)

20

In [9]:
# Q6: Divide two numbers
print(20 / 4)

5.0

In [10]:
# Q7: Floor division
print(20 // 3)

6

In [11]:
# Q8: Modulus
print(20 % 3)

2

In [12]:
# Q9: Exponentiation
print(2 ** 5)

32

In [13]:
# Q10: Concatenate strings
a = "Hello"
b = "World"
print(a + " " + b)

Hello World

# CHALLENGE QUESTIONS

In [14]:
# Challenge 1: Swap two variables without third variable
x, y = 5, 10
x, y = y, x
print(x, y)

10 5

In [15]:
# Challenge 2: Check if number is even or odd
n = 7
print("Even" if n % 2 == 0 else "Odd")

Odd

In [16]:
# Challenge 3: Find remainder of two numbers
print(17 % 5)

2

In [17]:
# Challenge 4: Concatenate 3 strings
s = "Python" + " is" + " fun"
print(s)

Python is fun

In [18]:
# Challenge 5: Print multi-line string
print("""Python
is
awesome""")

Python
is
awesome

In [19]:
# Challenge 6: Assign multiple variables in one line
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [20]:
# Challenge 7: Use type() on multiple variables
print(type(123), type(12.5), type("hi"))

<class 'int'> <class 'float'> <class 'str'>

In [21]:
# Challenge 8: Logical operators check
print(True and False, True or False, not True)

False True False

In [22]:
# Challenge 9: Calculate 3^4
print(3 ** 4)

81

In [23]:
# Challenge 10: Floor division of 25 by 4
print(25 // 4)

6

# INTERVIEW QUESTIONS

###Q1: What is Python?
###A: Interpreted, high-level, dynamically typed programming language

###Q2: What is a variable?
### A: Container to store data

### Q3: What is dynamic typing?
### A: Type of variable determined at runtime

### Q4: Name Python’s basic data types
### A: int, float, str, bool

### Q5: How is Python different from other languages?
### A: Indentation-based blocks, interpreted, easy syntax

### Q6: What is print() used for?
### A: Display output

### Q7: How do you comment in Python?
### A: # for single-line, ''' ''' or """ """ for multi-line

### Q8: What is type() used for?
### A: Check the data type of a variable

### Q9: How is indentation used in Python?
### A: Defines code blocks instead of braces {}

### Q10: Example of logical operators
###a = True
###b = False
###print(a and b, a or b, not a)