# Day 7 â€” Lists (Part 1: Basics)

Lists in Python:
- Ordered collection of items, mutable, allows duplicates
- Can contain elements of different data types

Creating Lists:
- lst = [1, 2, 3]
- lst = ["apple", "banana", "cherry"]
- lst = []

Indexing:
- Access elements using positive (0..n-1) or negative (-1..-n) indices

Slicing:
- Extract sublist using [start:end:step]

Common List Operations:
- len(lst) -> length
- + -> concatenate lists
- * -> repeat list
- in / not in -> membership
- append(), insert(), extend()
- remove(), pop(), clear()
- index(), count(), sort(), reverse(), copy()

Nested Lists:
- List inside a list, accessed by multiple indices

Mutable vs Immutable:
- Lists are mutable, elements can be changed

## EXAMPLES

In [1]:
# Creating lists
lst1 = [1, 2, 3, 4]
lst2 = ["apple", "banana", "cherry"]
lst3 = []
print(lst1, lst2, lst3)

[1, 2, 3, 4] ['apple', 'banana', 'cherry'] []

In [2]:
# Indexing
print(lst2[0])   # apple
print(lst2[-1])  # cherry

apple
cherry

In [3]:
# Basic operations
print(len(lst1))
print(lst1 + [5,6])
print("apple" in lst2)

4
[1, 2, 3, 4, 5, 6]
['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']
True

In [4]:
# Adding elements
lst1.append(5)
print(lst1)
lst1.insert(2, 10)
print(lst1)
lst1.extend([6,7])
print(lst1)

[1, 2, 3, 4, 5]
[1, 2, 10, 3, 4, 5]
[1, 2, 10, 3, 4, 5, 6, 7]

In [5]:
# Removing elements
lst1.remove(10)
print(lst1)
lst1.pop()
print(lst1)
lst1.clear()
print(lst1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[]

In [6]:
# Other methods
lst = [5,2,9,1,5]
print(lst.index(9))
print(lst.count(5))
lst.sort()
print(lst)
lst.reverse()
print(lst)
lst_copy = lst.copy()
print(lst_copy)

2
2
[1, 2, 5, 5, 9]
[9, 5, 5, 2, 1]
[9, 5, 5, 2, 1]

In [7]:
# Nested lists
nested = [[1,2],[3,4],[5,6]]
print(nested[0][1])

2

## PRACTICE QUESTIONS

In [8]:
# Q1: Create a list of 5 numbers
lst = [10,20,30,40,50]
print(lst)

[10, 20, 30, 40, 50]

In [9]:
# Q2: Access first and last element
print(lst[0], lst[-1])

10 50

In [11]:
# Q3: Slice list to get first 3 elements
print(lst[:3])

[10, 20, 30]

In [12]:
# Q4: Check if 20 is in list
print(20 in lst)

True

In [13]:
# Q5: Add element 60 at end
lst.append(60)
print(lst)

[10, 20, 30, 40, 50, 60]

In [14]:
# Q6: Insert 25 at index 2
lst.insert(2,25)
print(lst)

[10, 20, 25, 30, 40, 50, 60]

In [15]:
# Q7: Remove 30 from list
lst.remove(30)
print(lst)

[10, 20, 25, 40, 50, 60]

In [16]:
# Q8: Pop last element
lst.pop()
print(lst)

[10, 20, 25, 40, 50]

In [17]:
# Q9: Sort list
lst.sort()
print(lst)

[10, 20, 25, 40, 50]

In [18]:
# Q10: Reverse list
lst.reverse()
print(lst)

[50, 40, 25, 20, 10]

## CHALLENGE QUESTIONS

In [19]:
# Challenge 1: Count occurrences of 5 in list
lst = [1,5,2,5,3,5]
print(lst.count(5))

3

In [20]:
# Challenge 2: Find index of 3
print(lst.index(3))

4

In [21]:
# Challenge 3: Extend list with [6,7,8]
lst.extend([6,7,8])
print(lst)

[1, 5, 2, 5, 3, 5, 6, 7, 8]

In [22]:
# Challenge 4: Copy list
lst_copy = lst.copy()
print(lst_copy)

[1, 5, 2, 5, 3, 5, 6, 7, 8]

In [23]:
# Challenge 5: Clear list
lst_copy.clear()
print(lst_copy)

[]

In [24]:
# Challenge 6: Nested list access
nested = [[10,20],[30,40],[50,60]]
print(nested[2][1])

60

In [25]:
# Challenge 7: Concatenate two lists
lst1 = [1,2]
lst2 = [3,4]
print(lst1 + lst2)

[1, 2, 3, 4]

In [26]:
# Challenge 8: Repeat list 3 times
lst = [1,2]
print(lst * 3)

[1, 2, 1, 2, 1, 2]

In [27]:
# Challenge 9: Check membership for 10
lst = [5,10,15]
print(10 in lst)

True

In [28]:
# Challenge 10: Sort list in descending order
lst = [4,1,7,3]
lst.sort(reverse=True)
print(lst)

[7, 4, 3, 1]

## INTERVIEW QUESTIONS

#### Q1: What is a list in Python?
#### A: Ordered, mutable collection of elements

#### Q2: Difference between list and tuple?
#### A: List is mutable, tuple is immutable

#### Q3: How to add element to list?
#### A: append() or insert()

#### Q4: How to remove element from list?
#### A: remove() or pop()

#### Q5: How to access elements?
#### A: Using indexing and slicing

#### Q6: How to find length of list?
#### A: len(list)

#### Q7: How to concatenate and repeat lists?
#### A: + for concat, * for repeat

#### Q8: How to sort and reverse list?
#### A: sort() and reverse()

#### Q9: How to copy a list?
#### A: copy() method

#### Q10: How to access nested list elements?
#### A: list[index1][index2]