# Day 10 â€” Sets

Sets in Python:
- Unordered collection of unique elements
- Mutable, but elements must be immutable
- No duplicates allowed
- Useful for membership testing, removing duplicates, set operations

Creating Sets:
- s = {1,2,3}
- s = set([1,2,2,3])
- s = set()  # empty set

Common Set Methods:
- add(element) -> add single element
- update(iterable) -> add multiple elements
- remove(element) -> remove element, KeyError if not present
- discard(element) -> remove element if present
- pop() -> remove arbitrary element
- clear() -> empty the set
- copy() -> shallow copy

Set Operations:
- Union: s1 | s2 or s1.union(s2)
- Intersection: s1 & s2 or s1.intersection(s2)
- Difference: s1 - s2 or s1.difference(s2)
- Symmetric Difference: s1 ^ s2 or s1.symmetric_difference(s2)
- Subset: s1 <= s2
- Superset: s1 >= s2
- Disjoint: s1.isdisjoint(s2)

## EXAMPLES

In [1]:
# Creating sets
s1 = {1,2,3,4}
s2 = set([3,4,5,6])
s3 = set()
print(s1, s2, s3)

{1, 2, 3, 4} {3, 4, 5, 6} set()

In [2]:
# Adding elements
s1.add(5)
print(s1)
s1.update([6,7])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [5]:
# Removing elements
s1.remove(6)
print(s1)
s1.discard(3)  # no error
print(s1)
s1.pop()        # removes arbitrary element
print(s1)

{2, 3, 4, 5}
{2, 4, 5}
{4, 5}

In [6]:
# Copy and clear
s_copy = s1.copy()
print(s_copy)
s1.clear()
print(s1)

{4, 5}
set()

In [7]:
# Set operations
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print(s1 | s2)  # Union
print(s1 & s2)  # Intersection
print(s1 - s2)  # Difference
print(s1 ^ s2)  # Symmetric Difference

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [8]:
# Subset and superset
print({1,2} <= s1)
print(s1 >= {1,2})

True
True

In [9]:
# Disjoint
print({1,2}.isdisjoint({3,4}))
print({1,2}.isdisjoint({2,3}))

True
False

## PRACTICE QUESTIONS

In [10]:
# Q1: Create a set of numbers 1-5
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [11]:
# Q2: Add 6 to set
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [12]:
# Q3: Update set with [7,8,9]
s.update([7,8,9])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# Q4: Remove 5 using remove()
s.remove(5)
print(s)

{1, 2, 3, 4, 6, 7, 8, 9}

In [14]:
# Q5: Remove 10 using discard() (no error)
s.discard(10)
print(s)

{1, 2, 3, 4, 6, 7, 8, 9}

In [15]:
# Q6: Union of {1,2,3} and {3,4,5}
print({1,2,3} | {3,4,5})

{1, 2, 3, 4, 5}

In [16]:
# Q7: Intersection of {1,2,3} and {2,3,4}
print({1,2,3} & {2,3,4})

{2, 3}

In [17]:
# Q8: Difference {1,2,3} - {2,3,4}
print({1,2,3} - {2,3,4})

{1}

In [18]:
# Q9: Symmetric difference {1,2,3} ^ {2,3,4}
print({1,2,3} ^ {2,3,4})

{1, 4}

In [19]:
# Q10: Check if {1,2} is subset of {1,2,3}
print({1,2} <= {1,2,3})

True

## CHALLENGE QUESTIONS

In [20]:
# Challenge 1: Remove duplicates from list [1,2,2,3,4,4,5]
lst = [1,2,2,3,4,4,5]
unique = set(lst)
print(unique)

{1, 2, 3, 4, 5}

In [21]:
# Challenge 2: Intersection of multiple sets
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}
print(s1 & s2 & s3)

{3}

In [22]:
# Challenge 3: Union of multiple sets
print(s1 | s2 | s3)

{1, 2, 3, 4, 5}

In [23]:
# Challenge 4: Elements in s1 or s2 but not both
print(s1 ^ s2)

{1, 4}

In [24]:
# Challenge 5: Check if {1,5} is subset of {1,2,3,4}
print({1,5} <= {1,2,3,4})

False

In [25]:
# Challenge 6: Check if sets {1,2} and {3,4} are disjoint
print({1,2}.isdisjoint({3,4}))

True

In [26]:
# Challenge 7: Remove all elements from set
s = {1,2,3}
s.clear()
print(s)

set()

In [27]:
# Challenge 8: Pop element from set
s = {10,20,30}
print(s.pop())
print(s)

10
{20, 30}

In [28]:
# Challenge 9: Copy set and modify original
s = {1,2,3}
s_copy = s.copy()
s.add(4)
print(s, s_copy)

{1, 2, 3, 4} {1, 2, 3}

In [29]:
# Challenge 10: Convert list with duplicates to set, then back to list
lst = [1,2,2,3,3,3]
lst_unique = list(set(lst))
print(lst_unique)

[1, 2, 3]

## INTERVIEW QUESTIONS

#### Q1: What is a set in Python?
#### A: Unordered collection of unique elements

#### Q2: Difference between set and list?
#### A: Set unordered, unique; list ordered, can have duplicates

#### Q3: How to add elements to set?
#### A: add() for single, update() for multiple

#### Q4: Difference between remove() and discard()?
#### A: remove() raises error if element not present, discard() does not

#### Q5: How to perform union and intersection?
#### A: s1 | s2 or s1.union(s2), s1 & s2 or s1.intersection(s2)

#### Q6: How to find difference and symmetric difference?
#### A: s1 - s2, s1 ^ s2 or difference(), symmetric_difference()

#### Q7: How to check subset and superset?
#### A: <= for subset, >= for superset

#### Q8: How to check if sets are disjoint?
#### A: isdisjoint() method

#### Q9: How to remove duplicates from list using set?
#### A: unique = set(list)

#### Q10: How to copy and clear a set?
#### A: copy() to copy, clear() to remove all elements