# Day 16 â€” Lambda Functions (Map, Filter, Reduce)

Lambda Functions:
- Anonymous (no name) functions defined using 'lambda' keyword
- Syntax: lambda parameters: expression
- Can be used wherever function objects are required
- Often used with map(), filter(), reduce()

Map():
- Applies a function to each item of an iterable
- Syntax: map(function, iterable)
- Returns a map object, can convert to list

Filter():
- Filters items of iterable based on a function returning True/False
- Syntax: filter(function, iterable)
- Returns filter object, can convert to list

Reduce():
- Applies a function cumulatively to items of iterable to reduce to a single value
- Syntax: from functools import reduce; reduce(function, iterable)
- Example: sum, product, etc.

Advantages:
- Concise, readable for simple operations
- Avoids defining separate named functions

## EXAMPLES

In [1]:
# Lambda function
square = lambda x: x**2
print(square(5))  # 25

25

In [2]:
# Map example
nums = [1,2,3,4,5]
squares = list(map(lambda x: x**2, nums))
print(squares)  # [1,4,9,16,25]

[1, 4, 9, 16, 25]

In [3]:
# Filter example
even_nums = list(filter(lambda x: x%2==0, nums))
print(even_nums)  # [2,4]

[2, 4]

In [4]:
# Reduce example
from functools import reduce
product = reduce(lambda x,y: x*y, nums)
print(product)  # 120

120

In [5]:
# Combined example
nums = [1,2,3,4,5]
result = list(map(lambda x: x*2, filter(lambda x: x%2==1, nums)))
print(result)  # doubles only odd numbers

[2, 6, 10]

In [26]:
# Lambda to add 5
add5 = lambda x: x + 5
print(add5(10))  # 15

15

In [27]:
# Lambda to multiply two numbers
mul = lambda x, y: x * y
print(mul(4, 5))  # 20

20

In [28]:
# Lambda to check if even
is_even = lambda x: x % 2 == 0
print(is_even(10), is_even(7))

True False

In [29]:
# Lambda to reverse a string
reverse = lambda s: s[::-1]
print(reverse("Python"))

nohtyP

In [30]:
# Lambda to find max of two numbers
maximum = lambda a, b: a if a > b else b
print(maximum(10, 20))

20

In [31]:
nums = [1, 2, 3, 4, 5]

# Square all numbers
squares = list(map(lambda x: x**2, nums))
print(squares)

[1, 4, 9, 16, 25]

In [32]:
# Convert numbers to strings
str_nums = list(map(lambda x: str(x), nums))
print(str_nums)

['1', '2', '3', '4', '5']

In [33]:
# Map with two lists
a = [1, 2, 3]
b = [4, 5, 6]
sum_lists = list(map(lambda x, y: x + y, a, b))
print(sum_lists)

[5, 7, 9]

In [34]:
# Map with string list to uppercase
words = ["python", "data", "science"]
upper_words = list(map(lambda w: w.upper(), words))
print(upper_words)

['PYTHON', 'DATA', 'SCIENCE']

In [35]:
nums = [10, 15, 20, 25, 30]

# Filter even numbers
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)

[10, 20, 30]

In [36]:
# Filter numbers greater than 18
gt_18 = list(filter(lambda x: x > 18, nums))
print(gt_18)

[20, 25, 30]

In [37]:
# Filter strings starting with 'D'
words = ["Data", "Python", "Deep", "AI"]
d_words = list(filter(lambda w: w.startswith("D"), words))
print(d_words)

['Data', 'Deep']

In [38]:
# Filter negative numbers
nums = [-5, 3, -2, 7, 0]
negatives = list(filter(lambda x: x < 0, nums))
print(negatives)

[-5, -2]

In [39]:
from functools import reduce

nums = [1, 2, 3, 4, 5]

# Sum of numbers
total = reduce(lambda x, y: x + y, nums)
print(total)

15

In [40]:
# Product of numbers
product = reduce(lambda x, y: x * y, nums)
print(product)

120

In [41]:
# Find maximum number
maximum = reduce(lambda x, y: x if x > y else y, nums)
print(maximum)

5

In [42]:
# Concatenate list of strings
words = ["Python", "is", "fun"]
sentence = reduce(lambda a, b: a + " " + b, words)
print(sentence)

Python is fun

In [43]:
# Reduce with list of dictionaries (sum a key)
dict_list = [{"val": 10}, {"val": 20}, {"val": 5}]
total_val = reduce(lambda a, b: a + b["val"] if isinstance(a,int) else a["val"] + b["val"], dict_list)
print(total_val)

35

In [44]:
# Double only even numbers
nums = [1,2,3,4,5,6]
double_evens = list(map(lambda x: x*2, filter(lambda x: x%2==0, nums)))
print(double_evens)

[4, 8, 12]

In [45]:
# Reduce to multiply only odd numbers
nums = [1,2,3,4,5]
product_odds = reduce(lambda x,y: x*y, filter(lambda x:x%2==1, nums))
print(product_odds)

15

## PRACTICE QUESTIONS

In [6]:
# Q1: Lambda to add 10 to a number
add10 = lambda x: x+10
print(add10(5))

15

In [7]:
# Q2: Lambda to multiply two numbers
mul = lambda x,y: x*y
print(mul(3,4))

12

In [8]:
# Q3: Map to square list
nums = [1,2,3]
print(list(map(lambda x: x**2, nums)))

[1, 4, 9]

In [9]:
# Q4: Filter to keep even numbers
nums = [1,2,3,4]
print(list(filter(lambda x: x%2==0, nums)))

[2, 4]

In [10]:
# Q5: Reduce to sum numbers
from functools import reduce
nums = [1,2,3,4]
print(reduce(lambda x,y: x+y, nums))

10

In [11]:
# Q6: Double odd numbers using map and filter
nums = [1,2,3,4,5]
print(list(map(lambda x: x*2, filter(lambda x: x%2==1, nums))))

[2, 6, 10]

In [12]:
# Q7: Lambda to reverse string
rev = lambda s: s[::-1]
print(rev("Python"))

nohtyP

In [13]:
# Q8: Map to uppercase strings
words = ["apple","banana"]
print(list(map(lambda w: w.upper(), words)))

['APPLE', 'BANANA']

In [14]:
# Q9: Filter strings with length>5
words = ["apple","banana","kiwi"]
print(list(filter(lambda w: len(w)>5, words)))

['banana']

In [15]:
# Q10: Reduce to find max
nums = [5,2,9,1]
print(reduce(lambda a,b: a if a>b else b, nums))

9

## CHALLENGE QUESTIONS

In [16]:
# Challenge 1: Lambda to cube a number
cube = lambda x: x**3
print(cube(3))

27

In [17]:
# Challenge 2: Map to double numbers in list
nums = [1,2,3]
print(list(map(lambda x: x*2, nums)))

[2, 4, 6]

In [18]:
# Challenge 3: Filter odd numbers
nums = [1,2,3,4,5]
print(list(filter(lambda x: x%2==1, nums)))

[1, 3, 5]

In [19]:
# Challenge 4: Reduce to multiply numbers
nums = [1,2,3,4]
print(reduce(lambda x,y: x*y, nums))

24

In [20]:
# Challenge 5: Combine map and filter to square even numbers
nums = [1,2,3,4]
print(list(map(lambda x: x**2, filter(lambda x: x%2==0, nums))))

[4, 16]

In [21]:
# Challenge 6: Lambda to check palindrome
palindrome = lambda s: s==s[::-1]
print(palindrome("madam"))
print(palindrome("hello"))

True
False

In [22]:
# Challenge 7: Filter words starting with 'a'
words = ["apple","banana","avocado"]
print(list(filter(lambda w: w[0]=='a', words)))

['apple', 'avocado']

In [23]:
# Challenge 8: Map to get length of each word
words = ["Python","Data","AI"]
print(list(map(lambda w: len(w), words)))

[6, 4, 2]

In [24]:
# Challenge 9: Reduce to concatenate strings
strings = ["Hello"," ","World"]
print(reduce(lambda a,b: a+b, strings))

Hello World

In [25]:
# Challenge 10: Map with lambda to add index to list elements
nums = [10,20,30]
print(list(map(lambda x,i: x+i, nums, range(len(nums)))))

[10, 21, 32]


## INTERVIEW QUESTIONS

#### Q1: What is a lambda function?
#### A: Anonymous function defined using lambda keyword

#### Q2: Difference between lambda and normal function?
#### A: Lambda is concise, no name, usually single expression

#### Q3: What is map()?
#### A: Applies a function to each item of iterable

#### Q4: What is filter()?
#### A: Filters items based on function returning True/False

#### Q5: What is reduce()?
#### A: Applies function cumulatively to reduce iterable to single value

#### Q6: Return type of map/filter?
#### A: map/filter object (convert to list for printing)

#### Q7: Can lambda have multiple arguments?
#### A: Yes, e.g., lambda x,y: x+y

#### Q8: Use case of map and lambda?
#### A: Transform list of items concisely

#### Q9: Use case of filter and lambda?
#### A: Select items matching condition

#### Q10: Use case of reduce and lambda?
#### A: Aggregate values to single result (sum, product, concat)

#### Q11: Difference between lambda and def function?
#### A: Lambda is anonymous, single-expression; def has name, can have multiple statements

#### Q12: When to use map()?
#### A: When you want to apply a function to all items of an iterable

#### Q13: When to use filter()?
#### A: When you want to select items matching a condition

#### Q14: When to use reduce()?
#### A: When you want to aggregate iterable into single value

#### Q15: Return type of map/filter?
#### A: map/filter object, usually convert to list

#### Q16: Can lambda have multiple arguments?
#### A: Yes, e.g., lambda x,y: x+y

#### Q17: Can map work with multiple iterables?
#### A: Yes, corresponding elements are passed to the function

#### Q18: How to combine map and filter?
#### A: filter first to select items, then map to transform

#### Q19: Difference between map and list comprehension?
#### A: Map applies function, comprehension can include condition and is often more readable

#### Q20: Difference between reduce and sum()?
#### A: sum() adds numbers only; reduce can perform any cumulative operation