
# Day 13 â€” Functions (Part 1: Basics)

Functions in Python:
- Block of reusable code to perform a task
- Improves modularity and readability
- Defined using 'def' keyword

Syntax:
def function_name(parameters):
    '''docstring'''
    statements
    return value

Key Concepts:
1. Parameters/Arguments:
- Input values for the function
- Can have zero or more

2. Return Statement:
- Sends result back to caller
- Optional, if omitted function returns None

3. Calling a Function:
- function_name(arguments)

4. Benefits:
- Reusability
- Easy maintenance
- Better organization

## EXAMPLES

In [1]:
# Function with no parameters
def greet():
    print("Hello World!")
greet()

Hello World!

In [2]:
# Function with parameters
def add(a,b):
    return a+b
print(add(5,10))

15

In [3]:
# Function with default parameter
def greet_name(name="Guest"):
    print("Hello", name)
greet_name()
greet_name("Alice")

Hello Guest
Hello Alice

In [4]:
# Function returning multiple values
def operations(x,y):
    return x+y, x*y, x-y
sum_val, mul_val, sub_val = operations(5,3)
print(sum_val, mul_val, sub_val)

8 15 2

In [5]:
# Function calling another function
def square(n):
    return n**2
def sum_of_squares(a,b):
    return square(a) + square(b)
print(sum_of_squares(2,3))

13

## PRACTICE QUESTIONS

In [6]:
# Q1: Create a function to print your name
def my_name():
    print("Tanuja")
my_name()

Tanuja

In [7]:
# Q2: Create a function to add two numbers
def add(a,b):
    return a+b
print(add(10,20))

30

In [8]:
# Q3: Function with default argument
def greet(name="Guest"):
    print("Hello", name)
greet()
greet("Alice")

Hello Guest
Hello Alice

In [9]:
# Q4: Function that returns multiple values
def calc(a,b):
    return a+b, a-b
sum_val, diff_val = calc(10,5)
print(sum_val, diff_val)

15 5

In [10]:
# Q5: Function calling another function
def square(n):
    return n**2
def sum_squares(a,b):
    return square(a)+square(b)
print(sum_squares(3,4))

25

In [11]:
# Q6: Function to check even or odd
def check_even(n):
    if n%2==0:
        return True
    else:
        return False
print(check_even(10))
print(check_even(7))

True
False

In [12]:
# Q7: Function with no return
def greet_user(name):
    print("Hello", name)
greet_user("Bob")

Hello Bob

In [13]:
# Q8: Function to calculate factorial
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact *= i
    return fact
print(factorial(5))

120

In [14]:
# Q9: Function to reverse a string
def reverse_str(s):
    return s[::-1]
print(reverse_str("Python"))

nohtyP

In [15]:
# Q10: Function to sum list of numbers
def sum_list(lst):
    return sum(lst)
print(sum_list([1,2,3,4,5]))

15

## CHALLENGE QUESTIONS

In [16]:
# Challenge 1: Function to check prime number
def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True
print(is_prime(7))
print(is_prime(10))

True
False

In [17]:
# Challenge 2: Function to find max of 3 numbers
def max_of_three(a,b,c):
    return max(a,b,c)
print(max_of_three(10,20,15))

20

In [18]:
# Challenge 3: Function to count vowels in string
def count_vowels(s):
    return sum(1 for ch in s.lower() if ch in "aeiou")
print(count_vowels("Python"))

1

In [19]:
# Challenge 4: Function to check palindrome
def is_palindrome(s):
    return s==s[::-1]
print(is_palindrome("madam"))
print(is_palindrome("hello"))

True
False

In [20]:
# Challenge 5: Function to convert Celsius to Fahrenheit
def c_to_f(c):
    return (c*9/5)+32
print(c_to_f(0))
print(c_to_f(100))

32.0
212.0

In [21]:
# Challenge 6: Function to calculate sum of squares 1 to n
def sum_squares_n(n):
    return sum(i**2 for i in range(1,n+1))
print(sum_squares_n(5))

55

In [22]:
# Challenge 7: Function to find common elements in two lists
def common_elements(lst1,lst2):
    return list(set(lst1) & set(lst2))
print(common_elements([1,2,3],[2,3,4]))

[2, 3]

In [23]:
# Challenge 8: Function to remove duplicates from list
def remove_duplicates(lst):
    return list(set(lst))
print(remove_duplicates([1,2,2,3,3,3,4]))

[1, 2, 3, 4]

In [24]:
# Challenge 9: Function to generate multiplication table of n
def multiplication_table(n):
    return [n*i for i in range(1,11)]
print(multiplication_table(5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [25]:
# Challenge 10: Function to calculate sum of even numbers in list
def sum_even(lst):
    return sum(x for x in lst if x%2==0)
print(sum_even([1,2,3,4,5,6]))

12

# INTERVIEW QUESTIONS

#### Q1: What is a function in Python?
#### A: Block of reusable code performing a task

#### Q2: How to define a function?
#### A: Using def keyword

#### Q3: Difference between parameters and arguments?
#### A: Parameter is variable in function, argument is actual value passed

#### Q4: What is return statement?
#### A: Sends value back to caller

#### Q5: Can a function return multiple values?
#### A: Yes, using tuple unpacking

#### Q6: Difference between function with and without return?
#### A: Without return returns None

#### Q7: Can a function call another function?
#### A: Yes

#### Q8: How to set default parameter value?
#### A: def func(a=default):

#### Q9: How to pass list or string to function?
#### A: Just as argument, e.g., func([1,2,3]) or func("Python")

#### Q10: Why use functions?
#### A: Reusability, modularity, readability