# Day 12 — Dictionaries (Part 2: Advanced)


Advanced Dictionary Concepts:

1. Nested Dictionaries:
- Dictionaries inside dictionaries
- Access: d['outer']['inner']

2. Dictionary Comprehension:
- Compact way to create dictionaries
Syntax:
{key_expr: value_expr for item in iterable if condition}
Example:
squares = {x: x**2 for x in range(1,6)}  # {1:1,2:4,3:9,4:16,5:25}

3. Iterating Over Dictionaries:
- for key in d:
- for key, value in d.items():
- for value in d.values():

4. Practical Operations:
- Merge dictionaries: d1.update(d2)
- Filter dictionary: {k:v for k,v in d.items() if condition}
- Transform values: {k:v*2 for k,v in d.items()}

5. Advanced Methods:
- pop(key,default) -> remove key safely
- get(key,default) -> access safely
- setdefault(key,default) -> add if key not exists

## EXAMPLES

In [1]:
# Nested dictionary
nested = {"person":{"name":"Alice","age":25}}
print(nested["person"]["name"])
nested["person"]["city"] = "Paris"
print(nested)

Alice
{'person': {'name': 'Alice', 'age': 25, 'city': 'Paris'}}

In [2]:
# Dictionary comprehension
squares = {x: x**2 for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [3]:
# Iterating over dictionary
d = {"a":1,"b":2,"c":3}
for k in d:
    print(k,d[k])
for k,v in d.items():
    print(k,v)
for v in d.values():
    print(v)

a 1
b 2
c 3
a 1
b 2
c 3
1
2
3

In [4]:
# Merge dictionaries
d1 = {"x":1,"y":2}
d2 = {"y":20,"z":3}
d1.update(d2)
print(d1)  # {'x':1,'y':20,'z':3}

{'x': 1, 'y': 20, 'z': 3}

In [5]:
# Filter dictionary
d = {"a":10,"b":15,"c":20}
filtered = {k:v for k,v in d.items() if v>10}
print(filtered)

{'b': 15, 'c': 20}

In [6]:
# Transform values
d = {"a":1,"b":2,"c":3}
d_double = {k:v*2 for k,v in d.items()}
print(d_double)

{'a': 2, 'b': 4, 'c': 6}

In [7]:
# Using pop with default
d = {"a":1,"b":2}
print(d.pop("c","Not found"))

Not found

In [8]:
# Using setdefault
d.setdefault("d",100)
print(d)

{'a': 1, 'b': 2, 'd': 100}

## PRACTICE QUESTIONS

In [9]:
# Q1: Create nested dictionary for 2 persons
people = {"p1":{"name":"Alice","age":25},"p2":{"name":"Bob","age":30}}
print(people)

{'p1': {'name': 'Alice', 'age': 25}, 'p2': {'name': 'Bob', 'age': 30}}

In [10]:
# Q2: Access Bob's age
print(people["p2"]["age"])

30

In [11]:
# Q3: Add city "Paris" for Alice
people["p1"]["city"] = "Paris"
print(people)

{'p1': {'name': 'Alice', 'age': 25, 'city': 'Paris'}, 'p2': {'name': 'Bob', 'age': 30}}

In [12]:
# Q4: Create dict with comprehension squares 1-5
squares = {x:x**2 for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
# Q5: Filter dict to keep values >10
d = {"a":5,"b":15,"c":20}
filtered = {k:v for k,v in d.items() if v>10}
print(filtered)

{'b': 15, 'c': 20}

In [14]:
# Q6: Double the values in dict {"x":1,"y":2}
d = {"x":1,"y":2}
d_double = {k:v*2 for k,v in d.items()}
print(d_double)

{'x': 2, 'y': 4}

In [15]:
# Q7: Merge {"a":1} and {"b":2}
d1 = {"a":1}; d2 = {"b":2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [16]:
# Q8: Use pop with default
d = {"a":10}
print(d.pop("b","Not found"))

Not found

In [17]:
# Q9: Use setdefault for missing key
d.setdefault("c",30)
print(d)

{'a': 10, 'c': 30}

In [18]:
# Q10: Iterate over dictionary and print key,value
d = {"a":1,"b":2}
for k,v in d.items():
    print(k,v)

a 1
b 2

## CHALLENGE QUESTIONS

In [19]:
# Challenge 1: Nested dict access to get 25
nested = {"p1":{"name":"Alice","age":25}}
print(nested["p1"]["age"])

25

In [20]:
# Challenge 2: Dictionary comprehension for cubes 1-5
cubes = {x:x**3 for x in range(1,6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [21]:
# Challenge 3: Invert a dictionary with non-unique values
d = {"a":1, "b":1, "c":2}
inv = {}
for k, v in d.items():
    inv.setdefault(v, []).append(k)
print(inv)

{1: ['a', 'b'], 2: ['c']}

In [22]:
# Challenge 4: Sort dictionary by values (descending)
d = {"x":10, "y":5, "z":30}
sorted_d = dict(sorted(d.items(), key=lambda x: x[1], reverse=True))
print(sorted_d)

{'z': 30, 'x': 10, 'y': 5}

In [23]:
# Challenge 5: Merge two dictionaries, summing the common keys
d1 = {"a":2,"b":3}
d2 = {"a":5,"c":4}
result = d1.copy()
for k, v in d2.items():
    result[k] = result.get(k,0) + v
print(result)

{'a': 7, 'b': 3, 'c': 4}

In [24]:
# Challenge 6: Filter dictionary to keep only even values
d = {"a":2, "b":5, "c":8}
even_dict = {k:v for k,v in d.items() if v % 2 == 0}
print(even_dict)

{'a': 2, 'c': 8}

In [25]:
# Challenge 7: Character frequency from string
s = "hello world"
freq = {}
for ch in s:
    freq[ch] = freq.get(ch,0) + 1
print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [26]:
# Challenge 8: Update a nested dictionary value
d = {"p1":{"name":"Alice","age":25}}
d["p1"]["age"] += 5
print(d)

{'p1': {'name': 'Alice', 'age': 30}}

In [27]:
# Challenge 9: Group values by keys in list of tuples
lst = [("a",1),("b",4),("a",3)]
res = {}
for k, v in lst:
    res.setdefault(k, []).append(v)
print(res)

{'a': [1, 3], 'b': [4]}

In [28]:
# Challenge 10: Dictionary comprehension for squares (1–7)
sq = {x:x*x for x in range(1,8)}
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [29]:
# Challenge 11: Find key with maximum value
d = {"a":5,"b":10,"c":3}
print(max(d, key=d.get))

b

In [30]:
# Challenge 12: Remove keys with None values
d = {"a":1, "b":None, "c":5}
clean = {k:v for k,v in d.items() if v is not None}
print(clean)

{'a': 1, 'c': 5}


##INTERVIEW QUESTIONS


#### Q1. What is the time complexity of dictionary lookup?
#### A: Average O(1), worst-case O(n).


#### Q2. How are Python dictionaries implemented internally?
#### A: Using hash tables.


#### Q3. Why must dictionary keys be immutable?
#### A: Because hashing requires keys to remain unchanged.


#### Q4. What happens if two keys have the same hash?
#### A: Python resolves it using open addressing collision strategy.


#### Q5. Can a dictionary have duplicate keys?
#### A: No. Assigning duplicate keys overwrites previous values.


#### Q6. Difference between get() and direct access?
#### A: get() returns default if key missing; d["x"] raises KeyError.


#### Q7. What does setdefault() do?
#### A: If key exists, return value; else insert key with default value.


#### Q8. How to copy a dictionary safely?
#### A: Shallow: d.copy(); Deep: copy.deepcopy().


#### Q9. How to iterate keys, values, and items?
#### A: d.keys(), d.values(), d.items()


#### Q10. Why are dictionaries ordered after Python 3.7?
#### A: Insertion order became a CPython language guarantee.