# Day 11 â€” Dictionaries (Part 1: Basics)

Dictionaries in Python:
- Unordered collection of key-value pairs
- Keys must be unique and immutable
- Values can be of any data type
- Mutable (can update, add, remove items)

Creating Dictionaries:
- d = {"name":"Alice", "age":25}
- d = dict()  # empty dictionary
- d = dict(name="Alice", age=25)

Accessing Values:
- d[key]
- d.get(key) -> returns None or default if key not present

Updating Dictionaries:
- d[key] = value  # add/update
- d.update({key:value}) # add/update multiple items

Removing Items:
- del d[key]
- d.pop(key)
- d.popitem()  # removes last inserted item
- d.clear()    # remove all items

Dictionary Methods:
- keys(), values(), items()
- copy(), fromkeys(), setdefault()

## EXAMPLES

In [1]:
# Creating dictionaries
d1 = {"name":"Alice","age":25}
d2 = dict(city="London", country="UK")
d3 = {}
print(d1,d2,d3)

{'name': 'Alice', 'age': 25} {'city': 'London', 'country': 'UK'} {}

In [2]:
# Accessing values
print(d1["name"])
print(d1.get("age"))
print(d1.get("salary","Not found"))  # default value

Alice
25
Not found

In [3]:
# Updating dictionaries
d1["age"] = 26
d1["city"] = "Paris"
print(d1)
d1.update({"country":"France","profession":"Engineer"})
print(d1)

{'name': 'Alice', 'age': 26, 'city': 'Paris'}
{'name': 'Alice', 'age': 26, 'city': 'Paris', 'country': 'France', 'profession': 'Engineer'}

In [4]:
# Removing items
d1.pop("profession")
print(d1)
del d1["city"]
print(d1)
last = d1.popitem()  # removes last inserted item
print(last)
print(d1)

{'name': 'Alice', 'age': 26, 'city': 'Paris', 'country': 'France'}
{'name': 'Alice', 'age': 26, 'country': 'France'}
('country', 'France')
{'name': 'Alice', 'age': 26}

In [5]:
# Dictionary methods
print(d1.keys())
print(d1.values())
print(d1.items())
d_copy = d1.copy()
print(d_copy)

dict_keys(['name', 'age'])
dict_values(['Alice', 26])
dict_items([('name', 'Alice'), ('age', 26)])
{'name': 'Alice', 'age': 26}

In [6]:
# Using setdefault
d1.setdefault("salary",50000)
print(d1)

{'name': 'Alice', 'age': 26, 'salary': 50000}

In [7]:
# fromkeys
keys = ["a","b","c"]
d_new = dict.fromkeys(keys,0)
print(d_new)

{'a': 0, 'b': 0, 'c': 0}

## PRACTICE QUESTIONS

In [8]:
# Q1: Create dictionary with 3 key-value pairs
d = {"name":"Bob","age":30,"city":"NY"}
print(d)

{'name': 'Bob', 'age': 30, 'city': 'NY'}

In [9]:
# Q2: Access value of "name"
print(d["name"])

Bob

In [10]:
# Q3: Access "gender" safely with get()
print(d.get("gender","Not found"))

Not found

In [11]:
# Q4: Update age to 31
d["age"] = 31
print(d)

{'name': 'Bob', 'age': 31, 'city': 'NY'}

In [12]:
# Q5: Add new key "salary" with 50000
d["salary"] = 50000
print(d)

{'name': 'Bob', 'age': 31, 'city': 'NY', 'salary': 50000}

In [13]:
# Q6: Remove key "city" using del
del d["city"]
print(d)

{'name': 'Bob', 'age': 31, 'salary': 50000}

In [14]:
# Q7: Remove key "salary" using pop()
d.pop("salary")
print(d)

{'name': 'Bob', 'age': 31}

In [15]:
# Q8: Check keys and values
print(d.keys())
print(d.values())

dict_keys(['name', 'age'])
dict_values(['Bob', 31])

In [16]:
# Q9: Copy dictionary
d_copy = d.copy()
print(d_copy)

{'name': 'Bob', 'age': 31}

In [17]:
# Q10: Use setdefault to add "gender":"Male"
d.setdefault("gender","Male")
print(d)

{'name': 'Bob', 'age': 31, 'gender': 'Male'}

## CHALLENGE QUESTIONS

In [18]:
# Challenge 1: Merge two dictionaries
d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [19]:
# Challenge 2: Get list of keys
print(list(d1.keys()))

['a', 'b', 'c', 'd']

In [20]:
# Challenge 3: Get list of values
print(list(d1.values()))

[1, 2, 3, 4]

In [21]:
# Challenge 4: Get list of items
print(list(d1.items()))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [22]:
# Challenge 5: Check if key exists
print("a" in d1)
print("z" in d1)

True
False

In [23]:
# Challenge 6: Remove last inserted item
d1.popitem()
print(d1)

{'a': 1, 'b': 2, 'c': 3}

In [24]:
# Challenge 7: Create dictionary using fromkeys
keys = ["x","y","z"]
d = dict.fromkeys(keys,100)
print(d)

{'x': 100, 'y': 100, 'z': 100}

In [25]:
# Challenge 8: Update multiple values
d.update({"x":1,"y":2})
print(d)

{'x': 1, 'y': 2, 'z': 100}

In [26]:
# Challenge 9: Set default only if key not exists
d.setdefault("z",500)
print(d)

{'x': 1, 'y': 2, 'z': 100}

In [27]:
# Challenge 10: Nested dictionary access
nested = {"person":{"name":"Alice","age":25}}
print(nested["person"]["name"])

Alice

## INTERVIEW QUESTIONS

#### Q1: What is a dictionary in Python?
#### A: Unordered collection of key-value pairs, mutable

#### Q2: How to access values safely?
#### A: Using get() method

#### Q3: How to add or update items?
#### A: d[key] = value or update()

#### Q4: How to remove items?
#### A: del, pop(), popitem(), clear()

#### Q5: Difference between keys(), values(), items()?
#### A: keys() -> keys, values() -> values, items() -> key-value pairs

#### Q6: How to copy a dictionary?
#### A: copy() method

#### Q7: How to create dictionary from keys?
#### A: fromkeys(keys, default_value)

#### Q8: What is setdefault()?
#### A: Adds key with default if not present

#### Q9: Can dictionary have duplicate keys?
#### A: No, keys must be unique

#### Q10: Can dictionary values be mutable?
#### A: Yes, values can be mutable types like list