# Day 29 — Comprehensions (List, Dict, Set, Generator)

1. What are Comprehensions?
- A short, powerful way to create lists, dictionaries, sets, and generators.
- More pythonic, faster, and cleaner than traditional loops.

2. Types of Comprehensions:
- List Comprehension        → []
- Dictionary Comprehension  → {}
- Set Comprehension         → {}
- Generator Expression      → ()

3. Basic Syntax:
[ expression for item in iterable if condition ]
{ key: value for item in iterable if condition }
{ expression for item in iterable if condition }
( expression for item in iterable )

4. Advantages:
- Faster than loops
- Less code, highly readable
- Used in data cleaning, transformations, filtering

5. Use Cases:
- Mathematical operations
- Filtering data
- Transforming lists, dicts
- Flattening nested lists
- Building lookup dictionaries

## EXAMPLES

In [1]:
# Example 1: Squares of numbers
squares = [x * x for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [2]:
# Example 2: Even numbers
evens = [x for x in range(20) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
# Example 3: If-Else in comprehension
labels = ["Even" if x % 2 == 0 else "Odd" for x in range(10)]
print(labels)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [4]:
# Example 4: Extract vowels
vowels = [ch for ch in "tanuja" if ch in "aeiou"]
print(vowels)

['a', 'u', 'a']

In [5]:
# Example 5: Nested loops
pairs = [(x, y) for x in range(3) for y in range(2)]
print(pairs)

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

In [6]:
# Example 6: Flatten a 2D list
matrix = [[1, 2], [3, 4], [5, 6]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6]

In [7]:
# Example 7: Function inside comprehension
def cube(x): return x**3
cubes = [cube(i) for i in range(6)]
print(cubes)

[0, 1, 8, 27, 64, 125]

In [8]:
# Example 8: Words to lengths
words = ["python", "power", "code"]
lengths = [len(w) for w in words]
print(lengths)

[6, 5, 4]

In [9]:
# Example 9: Conditional list
nums = [x for x in range(30) if x % 3 == 0 and x % 5 == 0]
print(nums)

[0, 15]

In [10]:
# Example 10: Convert string to uppercase
upper = [ch.upper() for ch in "developer"]
print(upper)

['D', 'E', 'V', 'E', 'L', 'O', 'P', 'E', 'R']

In [11]:
# Example 11: Dictionary: number → square
dict_sq = {x: x * x for x in range(1, 6)}
print(dict_sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [12]:
# Example 12: Reverse dict: swap keys & values
swap = {v: k for k, v in dict_sq.items()}
print(swap)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [13]:
# Example 13: Frequency of characters
word = "comprehension"
freq = {ch: word.count(ch) for ch in set(word)}
print(freq)

{'c': 1, 'o': 2, 'h': 1, 'p': 1, 'm': 1, 'e': 2, 's': 1, 'n': 2, 'r': 1, 'i': 1}

In [14]:
# Example 14: Filter dict values
marks = {"a": 40, "b": 75, "c": 90}
passed = {k: v for k, v in marks.items() if v >= 50}
print(passed)

{'b': 75, 'c': 90}

In [15]:
# Example 15: Set comprehension: unique squares
unique_sq = {x * x for x in range(1, 10)}
print(unique_sq)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [16]:
# Example 16: Unique consonants
text = "developer"
consonants = {ch for ch in text if ch not in "aeiou"}
print(consonants)

{'l', 'p', 'r', 'v', 'd'}

In [17]:
# Example 17: Set from list (removing duplicates)
nums = [1, 2, 2, 3, 3, 4]
unique = {n for n in nums}
print(unique)

{1, 2, 3, 4}

In [18]:
# Example 18: Generator expression
gen = (x * x for x in range(5))
print(next(gen), next(gen))

0 1

In [19]:
# Example 19: Matrix creation (3x3)
matrix3 = [[i + j for j in range(3)] for i in range(3)]
print(matrix3)

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [20]:
# Example 20: Reverse words in list
rev = [w[::-1] for w in ["python", "power", "tanuja"]]
print(rev)

['nohtyp', 'rewop', 'ajunat']

## PRACTICE QUESTIONS

In [21]:
# Q1: Create a list of cubes from 1 to 10
print([x**3 for x in range(1, 11)])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [22]:
# Q2: Extract digits from string
print([ch for ch in "a1b2c3d4" if ch.isdigit()])

['1', '2', '3', '4']

In [23]:
# Q3: Filter names starting with vowel
names = ["anu", "sam", "emma", "tanuja"]
print([n for n in names if n[0].lower() in "aeiou"])

['anu', 'emma']

In [24]:
# Q4: Generate even squares
print([x*x for x in range(20) if x % 2 == 0])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [25]:
# Q5: Convert list of numbers to string list
print([str(x) for x in [1, 2, 3, 4]])

['1', '2', '3', '4']

In [26]:
# Q6: Extract uppercase letters
print([ch for ch in "PyTHon" if ch.isupper()])

['P', 'T', 'H']

In [27]:
# Q7: Words with length > 3
print([w for w in ["hi", "hello", "data", "ai"] if len(w) > 3])

['hello', 'data']

In [28]:
# Q8: Remove duplicates from list
print({x for x in [2, 2, 3, 4, 4, 5]})

{2, 3, 4, 5}

In [29]:
# Q9: Create dict: number → cube
print({x: x*x*x for x in range(5)})

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

In [30]:
# Q10: Filter dictionary values > 50
scores = {"a": 10, "b": 55, "c": 90}
print({k: v for k, v in scores.items() if v > 50})

{'b': 55, 'c': 90}

In [31]:
# Q11: Reverse each string in list
print([w[::-1] for w in ["abc", "xyz"]])

['cba', 'zyx']

In [32]:
# Q12: Extract only integers from mixed list
mix = [1, "a", 2, "b", 3]
print([x for x in mix if type(x) == int])

[1, 2, 3]

In [33]:
# Q13: Create list of odd numbers up to 30
print([i for i in range(30) if i % 2 != 0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [34]:
# Q14: Flatten 3D list (nested)
nums3d = [[[1,2],[3,4]], [[5,6],[7,8]]]
print([x for layer in nums3d for row in layer for x in row])

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
# Q15: 2D matrix of even numbers
print([[j*2 for j in range(3)] for i in range(3)])

[[0, 2, 4], [0, 2, 4], [0, 2, 4]]

## CHALLENGE QUESTIONS

In [36]:
# Challenge 1: Extract palindromes
print([w for w in ["mom", "dad", "python"] if w == w[::-1]])

['mom', 'dad']

In [37]:
# Challenge 2: Words ending with "ing"
print([w for w in ["running", "play", "learning"] if w.endswith("ing")])

['running', 'learning']

In [38]:
# Challenge 3: Create dict → word:count
sentence = "python is easy and python is powerful"
print({w: sentence.split().count(w) for w in set(sentence.split())})

{'and': 1, 'powerful': 1, 'python': 2, 'is': 2, 'easy': 1}

In [39]:
# Challenge 4: Dict → char:ASCII
print({ch: ord(ch) for ch in "Python"})

{'P': 80, 'y': 121, 't': 116, 'h': 104, 'o': 111, 'n': 110}

In [40]:
# Challenge 5: List of prime numbers
print([x for x in range(2, 50) if all(x % i != 0 for i in range(2, int(x**0.5)+1))])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [41]:
# Challenge 6: Flatten only even numbers
mat = [[1,2,3],[4,5,6]]
print([n for row in mat for n in row if n % 2 == 0])

[2, 4, 6]

In [42]:
# Challenge 7: Remove spaces using comprehension
print("".join([c for c in "a b c d" if c != " "]))

abcd

In [43]:
# Challenge 8: Dict → number:even/odd
print({i: ("Even" if i % 2 == 0 else "Odd") for i in range(10)})

{0: 'Even', 1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd'}

In [44]:
# Challenge 9: Unique consonants
print({c for c in "developer" if c not in "aeiou"})

{'l', 'p', 'r', 'v', 'd'}

In [45]:
# Challenge 10: Multiply elements using nested comprehension
print([i*j for i in range(1,4) for j in range(1,4)])

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [46]:
# Challenge 11: List of squares > 50
print([x*x for x in range(20) if x*x > 50])

[64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [47]:
# Challenge 12: Matrix transpose
matrix = [[1,2,3],[4,5,6]]
print([[row[i] for row in matrix] for i in range(len(matrix[0]))])

[[1, 4], [2, 5], [3, 6]]

In [48]:
# Challenge 13: Dictionary of char frequency for string
s = "banana"
print({ch: s.count(ch) for ch in set(s)})

{'b': 1, 'a': 3, 'n': 2}

In [49]:
# Challenge 14: Create set of vowels from sentence
print({ch for ch in "python programming" if ch in "aeiou"})

{'a', 'i', 'o'}

In [50]:
# Challenge 15: Generator to produce Fibonacci
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a+b
gen_fib = (x for x in fib(10))
print(next(gen_fib), next(gen_fib))

0 1

##Interview Questions
#### 1. What is a list comprehension?
#### A concise way to create a list using a single line of code.
#### Example:
####result = [x * 2 for x in [1, 2, 3]]
#### Output: [2, 4, 6]

#### 2. How is list comprehension more efficient?
#### It avoids the overhead of append() inside loops → faster and cleaner.
#### Example:
####nums = [i for i in range(5)]  # faster than traditional loop

#### 3. Can comprehensions replace loops?
#### Yes, for simple transformations.
#### No, for multi-step logic or multiple statements.

#### 4. Difference between map() and list comprehension?
#### map() → applies function
#### list comprehension → applies expression
#### Example:
####res1 = list(map(lambda x: x + 1, [1,2,3]))
####res2 = [x + 1 for x in [1,2,3]]
#### Both give [2,3,4]

#### 5. Can we use if-else inside comprehensions?
#### Yes.
####result = ["Even" if x % 2 == 0 else "Odd" for x in range(5)]
#### Output: ['Even', 'Odd', 'Even', 'Odd', 'Even']

#### 6. Can list comprehension have multiple for loops?
####pairs = [(i, j) for i in [1,2] for j in [3,4]]
#### Output: [(1,3), (1,4), (2,3), (2,4)]

#### 7. What is a set comprehension?
####set_comp = {x*x for x in range(5)}
#### Output: {0,1,4,9,16}
#### 8. What is a dictionary comprehension?
####dict_comp = {x: x*x for x in range(3)}
#### Output: {0:0, 1:1, 2:4}
#### 9. Can comprehensions contain nested if conditions?

####result = [x for x in range(20) if x % 2 == 0 if x % 5 == 0]
#### Output: [0, 10]
#### 10. What is generator comprehension?

###gen = (x*x for x in range(5))
#### Doesn't create list — saves memory

#### 11. Why generator comprehension is memory-efficient?
#### It yields values one-by-one instead of storing all.
#### Ideal for large datasets.
#### 12. How to convert generator comprehension to list?
####lst = list((x*x for x in range(5)
#### 13. Can comprehensions be empty?
#### Yes.
####empty = [x for x in []]  # returns []

#### 14. Is comprehension faster than loop?
#### Yes, because internal C-optimized execution.
#### But readability must be considered.

#### 15. Difference between list comprehension & filter?

#### filter() → keeps values
#### comprehension → transforms + filters

#### Example:
####fil = list(filter(lambda x: x % 2 == 0, range(10)))
####comp = [x for x in range(10) if x % 2 == 0]
#### Both give [0,2,4,6,8]