# Day 31 — Collections Module (namedtuple, Counter, OrderedDict, deque, defaultdict)

1. Collections Module:
- Provides specialized container datatypes for efficient data handling.

2. namedtuple:
- Immutable, like tuple but with named fields.
- Access fields by name and index.

3. Counter:
- Counts occurrences of elements in iterable.
- Returns dictionary-like object with elements as keys and counts as values.

4. OrderedDict:
- Dictionary that remembers insertion order.
- Useful when order matters (Python 3.7+ dicts are ordered by default).

5. deque (Double-ended queue):
- Optimized list for fast appends/pops from both ends.
- Methods: append, appendleft, pop, popleft, extend, rotate

6. defaultdict:
- Dictionary with default value for missing keys.
- Avoids KeyError.
- Example: defaultdict(int) → default 0, defaultdict(list) → default empty list

7. Use Cases:
- namedtuple → structured records
- Counter → frequency analysis
- OrderedDict → maintaining order of data
- deque → queues, stacks
- defaultdict → grouping data, counting

## EXAMPLES

In [1]:
from collections import namedtuple, Counter, OrderedDict, deque, defaultdict

# Example 1: namedtuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(10, 20)
print(p.x, p.y)

10 20

In [2]:
# Example 2: Access namedtuple by index
print(p[0], p[1])

10 20

In [3]:
# Example 3: Counter from list
fruits = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
cnt = Counter(fruits)
print(cnt)

Counter({'apple': 3, 'banana': 2, 'orange': 1})

In [4]:
# Example 4: Most common elements
print(cnt.most_common(2))

[('apple', 3), ('banana', 2)]

In [5]:
# Example 5: OrderedDict
od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
for k,v in od.items():
    print(k,v)

a 1
b 2
c 3

In [6]:
# Example 6: deque operations
dq = deque([1,2,3])
dq.append(4)
dq.appendleft(0)
print(dq)
dq.pop()
dq.popleft()
print(dq)

deque([0, 1, 2, 3, 4])
deque([1, 2, 3])

In [7]:
# Example 7: rotate deque
dq = deque([1,2,3,4])
dq.rotate(2)
print(dq)

deque([3, 4, 1, 2])

In [8]:
# Example 8: defaultdict with int
dd = defaultdict(int)
dd['apple'] += 1
dd['banana'] += 2
print(dd)

defaultdict(<class 'int'>, {'apple': 1, 'banana': 2})

In [9]:
# Example 9: defaultdict with list
dd_list = defaultdict(list)
dd_list['fruits'].append('apple')
dd_list['fruits'].append('banana')
print(dd_list)

defaultdict(<class 'list'>, {'fruits': ['apple', 'banana']})

In [10]:
# Example 10: Counting characters using Counter
text = "hello world"
char_count = Counter(text)
print(char_count)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

## PRACTICE QUESTIONS

In [11]:
# Q1: Create namedtuple for student with fields name, age, grade
Student = namedtuple('Student', ['name','age','grade'])
s = Student('Tanuja', 25, 'A')
print(s.name, s.age, s.grade)

Tanuja 25 A

In [12]:
# Q2: Create Counter for list of numbers
nums = [1,2,2,3,3,3]
print(Counter(nums))

Counter({3: 3, 2: 2, 1: 1})

In [13]:
# Q3: Most common number in list
c = Counter(nums)
print(c.most_common(1))

[(3, 3)]

In [14]:
# Q4: OrderedDict insertion order
od = OrderedDict()
od['x']=10
od['y']=20
od['z']=30
for k,v in od.items():
    print(k,v)

x 10
y 20
z 30

In [15]:
# Q5: Append and pop in deque
dq = deque([1,2,3])
dq.append(4)
dq.pop()
print(dq)

deque([1, 2, 3])

In [16]:
# Q6: Appendleft and popleft in deque
dq.appendleft(0)
dq.popleft()
print(dq)

deque([1, 2, 3])

In [17]:
# Q7: defaultdict with default int
dd = defaultdict(int)
dd['apple'] += 3
print(dd['apple'])

3

In [18]:
# Q8: defaultdict with default list
dd_list = defaultdict(list)
dd_list['nums'].extend([1,2,3])
print(dd_list['nums'])

[1, 2, 3]

In [19]:
# Q9: Count letters in string
print(Counter("data science"))

Counter({'a': 2, 'c': 2, 'e': 2, 'd': 1, 't': 1, ' ': 1, 's': 1, 'i': 1, 'n': 1})

In [20]:
# Q10: Create namedtuple for book (title, author)
Book = namedtuple('Book', ['title','author'])
b = Book('Python Basics', 'Tanuja')
print(b.title, b.author)

Python Basics Tanuja

## CHALLENGE QUESTIONS

In [21]:
# Challenge 1: Count words in a sentence
sentence = "hello world hello python"
print(Counter(sentence.split()))

Counter({'hello': 2, 'world': 1, 'python': 1})

In [22]:
# Challenge 2: Most common word
c = Counter(sentence.split())
print(c.most_common(1))

[('hello', 2)]

In [23]:
# Challenge 3: Reverse OrderedDict
od = OrderedDict()
od['a']=1; od['b']=2; od['c']=3
od_rev = OrderedDict(reversed(list(od.items())))
print(od_rev)

OrderedDict({'c': 3, 'b': 2, 'a': 1})

In [24]:
# Challenge 4: Rotate deque left by 3
dq = deque([1,2,3,4,5])
dq.rotate(-3)
print(dq)

deque([4, 5, 1, 2, 3])

In [25]:
# Challenge 5: Group list of tuples by key using defaultdict
data = [('a',1),('b',2),('a',3)]
dd = defaultdict(list)
for k,v in data:
    dd[k].append(v)
print(dd)

defaultdict(<class 'list'>, {'a': [1, 3], 'b': [2]})

In [26]:
# Challenge 6: Count vowels in string
vowels = 'aeiou'
s = "hello world"
c = Counter(ch for ch in s if ch in vowels)
print(c)

Counter({'o': 2, 'e': 1})

In [27]:
# Challenge 7: Create deque as stack and push/pop
stack = deque()
stack.append(1)
stack.append(2)
stack.append(3)
stack.pop()
print(stack)

deque([1, 2])

In [28]:
# Challenge 8: Sum counts using Counter
c1 = Counter(a=3,b=2)
c2 = Counter(a=2,b=1)
print(c1 + c2)

Counter({'a': 5, 'b': 3})

In [29]:
# Challenge 9: Subtract counts using Counter
print(c1 - c2)

Counter({'a': 1, 'b': 1})

In [30]:
# Challenge 10: Create namedtuple for employee and print formatted
Employee = namedtuple('Employee', ['name','id','dept'])
e = Employee('Tanuja',101,'IT')
print(f"{e.name} works in {e.dept} with ID {e.id}")

Tanuja works in IT with ID 101


## INTERVIEW QUESTIONS

#### Q1: What is namedtuple?
#### A: Immutable tuple with named fields, access by name/index.

#### Q2: Difference between dict and OrderedDict?
#### A: OrderedDict remembers insertion order; dict (Python <3.7) does not.

#### Q3: What is Counter used for?
#### A: Counting elements frequency in iterable.

#### Q4: How to add element to deque from left?
#### A: Using appendleft() method.

#### Q5: Difference between deque and list?
#### A: deque is optimized for fast append/pop from both ends; list is slower at left-end operations.

#### Q6: What is defaultdict?
#### A: Dictionary that returns default value for missing keys.

#### Q7: How to count characters in string?
#### A: Using Counter("string").

#### Q8: How to group data by key using defaultdict?
#### A: defaultdict(list), then append values for each key.

#### Q9: How to rotate deque?
#### A: Using rotate(n), positive→right, negative→left.

#### Q10: When to use namedtuple vs dict?
#### A: namedtuple for structured, immutable records; dict for dynamic key-value storage.