# Day 30 — Date & Time Module (datetime, timedelta, formatting, parsing)

1. datetime Module
- Used to work with dates, times, timestamps.
- Important classes:
  → datetime.date
  → datetime.time
  → datetime.datetime
  → datetime.timedelta

2. Creating Date & Time
- date(year, month, day)
- time(hour, minute, second)
- datetime(year, month, day, hour, minute)

3. Getting Current Date/Time
- datetime.now()
- datetime.today()
- date.today()

4. timedelta
- Used for date arithmetic (add / subtract days, hours)
- timedelta(days=5), timedelta(hours=3)

5. Formatting Dates
- Using strftime()
%Y → year
%m → month
%d → day
%H → hour
%M → minute
%S → second

6. Parsing Strings → Date
- Using datetime.strptime(text, format)

7. Common Use Cases
- Age calculation
- Time difference
- Log timestamps
- Scheduling tasks
- Expiry date checks

## EXAMPLES

In [1]:
from datetime import datetime, date, time, timedelta

# Example 1: Current date
print(date.today())

2025-12-11

In [2]:
# Example 2: Current datetime
print(datetime.now())

2025-12-11 22:54:45.193927

In [3]:
# Example 3: Create custom date
d = date(2025, 12, 2)
print(d)

2025-12-02

In [4]:
# Example 4: Create custom time
t = time(10, 45, 30)
print(t)

10:45:30

In [5]:
# Example 5: Add 7 days to date
print(date.today() + timedelta(days=7))

2025-12-18

In [6]:
# Example 6: Difference between dates
d1 = date(2025, 1, 1)
d2 = date(2025, 12, 31)
print(d2 - d1)

364 days, 0:00:00

In [7]:
# Example 7: Format datetime
now = datetime.now()
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2025-12-11 22:57:20

In [8]:
# Example 8: Parse string to date
dt = datetime.strptime("2025-01-15", "%Y-%m-%d")
print(dt)

2025-01-15 00:00:00

In [9]:
# Example 9: Time difference in hours
d3 = datetime(2025, 1, 1, 10, 0)
d4 = datetime(2025, 1, 1, 18, 30)
print((d4 - d3).seconds / 3600)

8.5

In [10]:
# Example 10: Add hours using timedelta
print(now + timedelta(hours=5))

2025-12-12 03:57:20.560082

## PRACTICE QUESTIONS

In [11]:
# Q1: Print today's date
print(date.today())

2025-12-11

In [12]:
# Q2: Print current year
print(date.today().year)

2025

In [13]:
# Q3: Print current month
print(date.today().month)

12

In [14]:
# Q4: Print current weekday number
print(date.today().weekday())

3

In [15]:
# Q5: Find your age in days
dob = date(2000, 1, 1)
print(date.today() - dob)

9476 days, 0:00:00

In [16]:
# Q6: Add 30 days to current date
print(date.today() + timedelta(days=30))

2026-01-10

In [17]:
# Q7: Subtract 45 days from today
print(date.today() - timedelta(days=45))

2025-10-27

In [18]:
# Q8: Convert datetime to "DD-MM-YYYY"
print(now.strftime("%d-%m-%Y"))

11-12-2025

In [19]:
# Q9: Convert string "15/08/2024" to datetime
print(datetime.strptime("15/08/2024", "%d/%m/%Y"))

2024-08-15 00:00:00

In [20]:
# Q10: Find number of seconds in 2 hours
print(timedelta(hours=2).seconds)

7200

In [21]:
# Q11: Find difference between two timestamps
dA = datetime(2025, 1, 1, 12)
dB = datetime(2025, 1, 1, 14, 30)
print(dB - dA)

2:30:00

In [22]:
# Q12: Print current time HH:MM format
print(now.strftime("%H:%M"))

22:57

In [23]:
# Q13: Parse "2025 December 02"
print(datetime.strptime("2025 December 02", "%Y %B %d"))

2025-12-02 00:00:00

In [24]:
# Q14: Check if today is weekend
print(date.today().weekday() >= 5)

False

In [25]:
# Q15: Add 1 week and 3 hours
print(now + timedelta(weeks=1, hours=3))

2025-12-19 01:57:20.560082

## CHALLENGE QUESTIONS

In [26]:
# Challenge 1: Calculate age in years
def age_in_years(dob):
    return (date.today() - dob).days // 365
print(age_in_years(date(2000, 5, 10)))

25

In [27]:
# Challenge 2: Days until next birthday
next_bday = date(date.today().year, 12, 25)
if next_bday < date.today():
    next_bday = date(date.today().year + 1, 12, 25)
print(next_bday - date.today())

14 days, 0:00:00

In [28]:
# Challenge 3: Validate date format "YYYY-MM-DD"
def is_valid_date(text):
    try:
        datetime.strptime(text, "%Y-%m-%d")
        return True
    except:
        return False
print(is_valid_date("2025-01-15"))

True

In [29]:
# Challenge 4: Convert 24hr to 12hr format
print(now.strftime("%I:%M %p"))

10:57 PM

In [30]:
# Challenge 5: Extract year from "02-12-2025"
print(datetime.strptime("02-12-2025", "%d-%m-%Y").year)

2025

In [31]:
# Challenge 6: Find number of days in a month
def days_in_month(year, month):
    next_month = date(year, month, 28) + timedelta(days=4)
    return (next_month - timedelta(days=next_month.day)).day
print(days_in_month(2025, 2))

28

In [32]:
# Challenge 7: Convert string to timestamp
ts = datetime.strptime("2025-12-02 10:30", "%Y-%m-%d %H:%M")
print(ts.timestamp())

1764671400.0

In [33]:
# Challenge 8: Convert timestamp to datetime
print(datetime.fromtimestamp(1700000000))

2023-11-14 22:13:20

In [34]:
# Challenge 9: Add 100 days and format nicely
print((date.today() + timedelta(days=100)).strftime("%A, %d %B %Y"))

Saturday, 21 March 2026

In [36]:
# Challenge 10: Get start and end of current month
from datetime import date, timedelta

start = date.today().replace(day=1)

# Calculate end of month safely
if start.month == 12:
    end = date(start.year + 1, 1, 1) - timedelta(days=1)
else:
    end = date(start.year, start.month + 1, 1) - timedelta(days=1)

print(start, end)

2025-12-01 2025-12-31

In [37]:
# Challenge 11: Time difference in minutes
d5 = datetime(2025, 1, 1, 8, 0)
d6 = datetime(2025, 1, 1, 9, 45)
print((d6 - d5).seconds // 60)

105

In [38]:
# Challenge 12: Get weekday name
print(date.today().strftime("%A"))

Thursday

In [39]:
# Challenge 13: Add 2 years
print(date.today().replace(year=date.today().year + 2))

2027-12-11

In [40]:
# Challenge 14: Convert "02-Dec-2025" to datetime
print(datetime.strptime("02-Dec-2025", "%d-%b-%Y"))

2025-12-02 00:00:00

In [41]:
# Challenge 15: Get quarter number (Q1–Q4)
print((date.today().month - 1) // 3 + 1)

4


## INTERVIEW QUESTIONS

#### Q1: What is datetime module?
#### A: Module for handling dates, times, timestamps.

#### Q2: Difference between date and datetime?
#### A: date → only year/month/day, datetime → date + time

#### Q3: How to get current datetime?
#### A: datetime.now()

#### Q4: What is timedelta?
#### A: Difference between two dates/times

#### Q5: How to format date in Python?
#### A: Using strftime(), e.g., dt.strftime("%Y-%m-%d")

#### Q6: How to parse string to date?
#### A: Using strptime(), e.g., datetime.strptime("2025-01-01", "%Y-%m-%d")

#### Q7: How to calculate age?
#### A: today - dob using date objects

#### Q8: How to get weekday?
#### A: date.today().weekday() (0=Monday)

#### Q9: How to find time difference?
#### A: end - start returns timedelta

#### Q10: How to add days to a date?
#### A: date + timedelta(days=5)

#### Q11: What does %Y, %m, %d represent?
#### A: Year, month, day

#### Q12: What is timestamp?
#### A: Seconds since epoch (1970-01-01)

#### Q13: How to convert datetime to timestamp?
#### A: dt.timestamp()

#### Q14: How to convert timestamp to datetime?
#### A: datetime.fromtimestamp(ts)

#### Q15: How to find number of days in a month?
#### A: Use date arithmetic or calendar module